@font-face {
  font-family: 'PFRegalDisplayPro-BoldItalic';
  src:         url('../assets/fonts/PFRegalDisplayPro/PFRegalDisplayPro-BoldItalic.woff2') format('woff2'),
               url('../assets/fonts/PFRegalDisplayPro/PFRegalDisplayPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style:  italic;
  font-display: swap;
}
@font-face {
  font-family: 'PFRegalDisplayPro-Medium';
  src:         url('../assets/fonts/PFRegalDisplayPro/PFRegalDisplayPro-Medium.woff2') format('woff2'),
               url('../assets/fonts/PFRegalDisplayPro/PFRegalDisplayPro-Medium.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}
@font-face {
  font-family: 'PFRegalDisplayPro-MediumItalic';
  src:         url('../assets/fonts/PFRegalDisplayPro/PFRegalDisplayPro-MediumItalic.woff2') format('woff2'),
               url('../assets/fonts/PFRegalDisplayPro/PFRegalDisplayPro-MediumItalic.woff') format('woff');
  font-weight: normal;
  font-style:  italic;
  font-display: swap;
}

@font-face {
  font-family: 'StolzlMedium';
  src:         url('../assets/fonts/Stolzl/StolzlMedium.woff2') format('woff2'),
               url('../assets/fonts/Stolzl/StolzlMedium.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}
@font-face {
  font-family: 'StolzlReg';
  src:         url('../assets/fonts/Stolzl/StolzlReg.woff2') format('woff2'),
               url('../assets/fonts/Stolzl/StolzlReg.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}
@font-face {
  font-family: 'StolzlBold';
  src:         url('../assets/fonts/Stolzl/StolzlBold.woff2') format('woff2'),
               url('../assets/fonts/Stolzl/StolzlBold.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-HovesMedium';
  src:         url('../assets/fonts/tt-hoves/TT-HovesMedium.woff2') format('woff2'),
               url('../assets/fonts/tt-hoves/TT-HovesMedium.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT-HovesRegular';
  src:         url('../assets/fonts/tt-hoves/TT-HovesRegular.woff2') format('woff2'),
               url('../assets/fonts/tt-hoves/TT-HovesRegular.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT-HovesBold';
  src:         url('../assets/fonts/tt-hoves/TT-HovesBold.woff2') format('woff2'),
               url('../assets/fonts/tt-hoves/TT-HovesBold.woff') format('woff');
  font-weight: normal;
  font-style:  normal;
  font-display: swap;
}
