// Размеры экрана
$screen-sm: 360px;
$screen-md: 960px;
$screen-lg: 1600px;

$content-sm: 320px;
$content-md: 650px;
$content-lg: 1140px;

// Переходы
$transition-normal: .25s;
$transition-medium: .15s;
$transition-fast: .1s;

$font-family-decorBoldItalic: 'PFRegalDisplayPro-BoldItalic', 'Helvetica', 'Arial', sans-serif;
$font-family-decorMedium: 'PFRegalDisplayPro-Medium', 'Helvetica', 'Arial', sans-serif;
$font-family-decorMediumItalic: 'PFRegalDisplayPro-MediumItalic', 'Helvetica', 'Arial', sans-serif;
$font-family-second: 'StolzlMedium', 'Helvetica', 'Arial', sans-serif;
$font-family-second-reg: 'StolzlReg', 'Helvetica', 'Arial', sans-serif;
$font-family-second-bold: 'StolzlBold', 'Helvetica', 'Arial', sans-serif;
$font-family-default2: 'TT-HovesMedium', 'Helvetica', 'Arial', sans-serif;
$font-family-default: 'TT-HovesRegular', 'Helvetica', 'Arial', sans-serif;
$font-family-default3: 'TT-HovesBold', 'Helvetica', 'Arial', sans-serif;

$shadow-btn: 0px 4px 49px rgba(241, 213, 161, 0.432);

$color-text-light: white;
$color-text-dark: black;
$color-text-dark2: #1C1C1C;
$color-text-lightgrey: #6D6D6D;
$color-text-lightgrey2: #E4E7EA;
$color-text-darkgrey: #9C9C9C;
$color-frame: #F7F8FA;
$color-bg-slide: #14161A;
$color-text-slide: #E1E1E1;
$color-btn-slide: #51596A;
$color-secondText-slide: #606A78;
$color-gold: linear-gradient(90deg, #D7B77C 0%, #FBE0AF 100%);
