.benefits {
  display: flex;
  justify-content: center;
  padding-top: 112px;
  background: url("../assets/img/benefits/bg.png") no-repeat;
  background-size: cover;
  background-color: black;
  @include w-to($content-lg) {
    padding-top: 70px;
  }
  @include w-to($content-md) {
    padding-top: 47px;
    flex-direction: column;
    align-items: center;
  }
  .container {
    @include w-to($content-md) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 43px;
    color: $color-text-light;
    max-width: 378px;
    width: 100%;
    margin-bottom: 45px;
    @include w-to($content-lg) {
      margin-bottom: 18px;
    }
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 35px;
      text-align: center;
    }
  }

  &__block {
    display: flex;
    max-width: 949px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 125px;
    @include w-to($content-lg) {
      flex-direction: column;
      margin-bottom: -32px;
    }
    @include w-to($content-md) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__video {
    width: 535px;
    height: 350px;
    background-color: #fff;
    margin-left: 12px;
    background: url("../assets/img/benefits/video.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 39px;

    & .mod-play-btn {
      margin-right: -15px;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0.2;
      position: absolute;
    }

    &:after {
      content: url("../assets/img/benefits/dots.png");
      position: absolute;
      bottom: -23px;
      left: -72px;
    }
    @include w-to($content-lg) {
      margin-bottom: 73px;
    }
    @include w-to($content-md) {
      width: 360px;
      height: 233px;
      margin: 7px auto 56px;
    }
  }

  &__text {
    max-width: 303px;
    width: 100%;
    @include w-to($content-lg) {
      max-width: initial;
    }

    & .hero__bullits {
      flex-direction: column;

      li {
        margin-bottom: 22px;
        align-items: flex-start;
        @include w-to($content-lg) {
          max-width: 252px;
          width: 100%;
          margin-bottom: 40px;
        }
        @include w-to($content-md) {
          margin-bottom: 24px;
        }

        .hero__dot {
          margin-left: 6px;
          width: 15px;
          @include w-to($content-lg) {
            margin-right: 20px;
          }
        }

        .hero__bullit {
          font-size: 14px;
          max-width: 100%;
        }
      }
      @include w-to($content-lg) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      @include w-to($content-md) {
        justify-content: center;
        margin-bottom: 34px;
      }
    }
  }
}