<div class="benefits">
  <div class="container">

    <div class="benefits__title">Минимум переживаний и&nbsp;максимум комфорта с&nbsp;UPLEX</div>

    <div class="benefits__block">
      <div class="benefits__video">
        <div class="mod-play-btn" @click.prevent="video = true"></div>
      </div>
      <div class="benefits__text">
        <ul class="hero__bullits">
          <li>
            <div class="hero__dot"></div>
            <p class="hero__bullit">Возьмем на&nbsp;себя все хлопоты, избавим Вас бумажной волокиты и&nbsp;лишних встреч с&nbsp;ответчиком</p>
          </li>
          <li>
            <div class="hero__dot"></div>
            <p class="hero__bullit">В&nbsp;50% случае улаживаем споры не&nbsp;доводя до&nbsp;суда с&nbsp;помощью досудебного воздействия на&nbsp;опонента</p>
          </li>
          <li>
            <div class="hero__dot"></div>
            <p class="hero__bullit">Храним адвокатскую тайну. Все, что&nbsp;Вы нам скажете, останется тайной для всех</p>
          </li>
          <li>
            <div class="hero__dot"></div>
            <p class="hero__bullit">Прописываем стоимость услуг в&nbsp;договоре. Стоимость остается неизменной до&nbsp;окончания дела</p>
          </li>
          <li>
            <div class="hero__dot"></div>
            <p class="hero__bullit">Если по&nbsp;каким-то причинам Вам не&nbsp;удастся найти общий язык с&nbsp;адвокатом, то&nbsp;заменим на&nbsp;другого</p>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>