.plan {
  display: flex;
  justify-content: center;
  padding-top: 150px;
background: url("../assets/img/plan/book.png") 184px 271px/ 580px no-repeat,
            url("../assets/img/plan/ellipse.png") 33px 327px/605px no-repeat,
            url("../assets/img/plan/bg.png") center/cover no-repeat;
  background-color: $color-text-dark;
  @include w-from($screen-lg) {
    background: url("../assets/img/plan/book.png") 300px 271px/ 580px no-repeat,
    url("../assets/img/plan/ellipse.png") 33px 327px/605px no-repeat,
    url("../assets/img/plan/bg.png") center/cover no-repeat;
    background-color: $color-text-dark;
  }
  @include w-to($content-lg) {
    padding-top: 89px;
    background: url("../assets/img/plan/book.png") center 230px/ 369px no-repeat,
                url("../assets/img/plan/bg.png") center/cover no-repeat;
    background-color: $color-text-dark;
  }
  @include w-to($content-md) {
    padding-top: 46px;
    background: url("../assets/img/plan/book.png") 41px 175px/ 300px no-repeat,
    url("../assets/img/plan/bg.png") center/cover no-repeat;
    background-color: $color-text-dark;
  }

  .container {
    align-items: initial;
    @include w-to($content-lg) {
      align-items: center;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 50px;
    color: $color-text-light;
    max-width: 412px;
    width: 100%;
    margin-bottom: 58px;
    position: relative;
    margin-left: 12px;
    @include w-to($content-lg) {
      margin-left: 0;
      margin-bottom: 467px;
    }
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 39px;
      text-align: center;
      margin-bottom: 300px;
    }

    &:after {
      content: url("../assets/img/plan/line.svg");
      position: absolute;
      right: -17px;
      bottom: -120px;
      @include w-to($content-lg) {
        right: 66px;
        bottom: -127px;
      }
      @include w-to($content-md) {
        right: 38px;
        bottom: -110px;
      }
    }

    span {
      font-family: $font-family-decorBoldItalic;
      font-size: 39px;
      line-height: 47px;
      @include color-gradient-text;
      @include w-to($content-md) {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
      }
    }
  }

  &__content {
    position: relative;
    max-width: 916px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include w-to($content-lg) {
      justify-content: center;
    }
    @include w-from($screen-lg) {
      max-width: 1140px;
    }
  }

  &__text {
    max-width: 358px;
    width: 100%;
    margin-right: -13px;
    @include w-to($content-lg) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      max-width: 355px;
      p:first-of-type {
        order: 2;
      }
      p:nth-of-type(2) {
        order: 1;
      }
      button:last-of-type {
        order: 3;
      }
    }

    &_title {
      font-family: $font-family-second-reg;
      font-size: 18px;
      line-height: 28px;
      color: $color-text-light;
      margin-bottom: 35px;
      span {
        font-family: $font-family-second;
      }
      @include w-to($content-lg) {
        text-align: center;
        font-size: 18px;
        line-height: 27px;
      }
      @include w-to($content-md) {
        margin-bottom: 47px;
        span {
          font-size: 18px;
          line-height: 27px;
          text-align: center;
        }
      }
    }

    &_subtitle {
      font-family: $font-family-second-reg;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 149.1%;
      color: $color-text-light;
      padding-left: 29px;
      position: relative;
      margin-bottom: 49px;
      &:before {
        content: '';
        height: 100%;
        width: 2px;
        background: $color-gold;
        left: 0;
        position: absolute;
      }
      @include w-to($content-lg) {
        text-align: center;
        padding-left: 0;
        margin-bottom: 89px;
        &:before {
          content: none;
        }
      }
      @include w-to($content-md) {
        font-size: 16px;
        line-height: 149.1%;
        text-align: center;
        margin-bottom: 40px;
      }
    }
  }

  &__button {
    max-width: 313px;
    height: 62px;
    font-family: $font-family-default2;
    font-size: 15px;
    line-height: 22px;
    color: $color-text-dark;
    margin-bottom: 228px;
    z-index: 2;
    box-shadow: $shadow-btn;
    @include w-to($content-lg) {
      margin-bottom: 62px;
    }
    @include w-to($content-md) {
      margin-bottom: 57px;
    }
  }
}