<div class="plan">
  <div class="container">

    <div class="plan__title">
      <p>У вас будет полноценный <span>боевой план действий</span></p>
    </div>

    <div class="plan__content">
      <div class="plan__text">
        <p class="plan__text_title"><span>Знаем особенности работы каждого суда Республике Беларусь</span> поэтому можем корректировать стратегию в зависимости от суда, который рассматривает дело</p>
        <p class="plan__text_subtitle">После победы в суде надо добиться, чтобы оппонент выполнил обязательства по решению суда. Мы привлекаем судебных приставов и контролируем их работу до тех пор, пока решение суда не будет полностью исполнено!</p>
        <button class="plan__button button">
          Получить план действий
          <span class="button__arrow"></span>
        </button>
      </div>
    </div>

  </div>
</div>