<div class="popup popup-book mod-popup-4 request-business">
  <div class="popup__wrap container">
    <div class="request__form">
      <div class="request__block">
        <div class="request__text">
          <div class="request__title">
            <p>
              Получите на&nbsp;почту индивидуальное предложение от&nbsp;компании Uplex
            </p>
          </div>
          <div class="request__text_in">
            <p>с&nbsp;примерами из&nbsp;практики, отзывами компаний и&nbsp;выгодными условиями для вашего бизнеса</p>
          </div>

          <form action="#">
            <input v-model="email" type="email" name="email" placeholder="Куда прислать предложение?" class="request__data">
            <input v-model="phone" v-mask="mask" type="text" name="phone" placeholder="Номер телефона для связи"
                   class="request__data" @blur="$v.phone.$touch()">
            <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
            <button @click.prevent="sendForm()" type="submit" class="button request__button" :disabled="$v.phone.$invalid">Получить
              предложение</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>