<div class="request">
  <div class="container">
    <div class="request__dots_before"></div>
    <div class="request__dots_after"></div>
    <div class="request__wrap">
      <div class="request__form">
        <div class="request__block">
          <div class="request__text">
            <div class="request__title">
              <p>
                Получите честную оценку перспектив
              </p>
            </div>
            <p class="request__first-text">Давайте свяжемся и&nbsp;обсудим вашу ситуацию.</p>
            <p class="request__second-text">По&nbsp;итогам разговора&nbsp;Вы получите оценку перспектив, а&nbsp;также первоначальный план
              действий, которые помогут добиться результата.</p>
            <div class="request__line"></div>
            <div class="request__subtitle">
              <p>Смело оставляйте заявку на&nbsp;консультацию!</p>
            </div>
            <p class="request__third-text">Иногда для решения сложной проблемы достаточно одного разговора с&nbsp;адвокатом!</p>
          </div>
          <form action="#">
            <input v-model="name" class="request__data" type="text" name="name" placeholder="Как Вас зовут?">
            <div class="request__social">
              <p>Как вам удобно получить ответ?</p>
              <div class="request__checkboxes" @click.prevent="addActive($event)">
                <a href="#" class="request__check request__phone">Телефон</a>
                <a href="#" class="request__check request__viber icon-viber">Viber</a>
                <a href="#" class="request__check request__whatsApp icon-whatsapp">WhatsApp</a>
                <a href="#" class="request__check request__telegram icon-telegram">Telegram</a>
              </div>
            </div>
            <input v-model="phone" v-mask="mask" class="request__data" type="text" name="phone" placeholder="+375
            (__) ___-__-__" @blur="$v.phone.$touch()">
            <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
            <button @click.prevent="sendForm()" type="submit" class="button request__button" :disabled="$v.phone.$invalid">Получить оценку
              перспектив</button>
            <div class="request__conf">
              <div @click="conf = !conf" :class="conf ? 'mod-active' : '' " class="request__conf_checkbox"></div>
              <p>Согласен с&nbsp;<a href="/assets/other/ОООUplex.pdf" target="_blank">Политикой конфиденциальности сайта</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>