.request {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 95px;
  background: url("../assets/img/request/bg.png") no-repeat;
  background-size: cover;
  @include w-to($content-lg) {
    padding-bottom: 59px;
  }
  @include w-to($content-md) {
    padding-top: 48px;
    padding-bottom: 4px;
  }

  .container {
    justify-content: center;
    position: relative;
    @include w-to($content-md) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__wrap {
    max-width: 1070px;
    width: 100%;
    background: #F7F8FA;
    box-shadow: 0 4px 84px rgba(80, 80, 80, 0.114);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 9px 0;
    z-index: 2;
    margin-left: 35px;
    @include w-to($content-lg) {
      margin-left: 0;
      padding-left: 9px;
      padding-right: 9px;
      padding-bottom: 9px;
      width: 96%;
    }
    @include w-to($content-md) {
      width: 95%;
    }
  }
  &__dots_before {
    background: url("../assets/img/request/dots-1.png") no-repeat;
    position: absolute;
    width: 122px;
    height: 123px;
    background-size: contain;
    top: -54px;
    left: -88px;
    z-index: 1;
  }
  &__dots_after {
    background: url("../assets/img/request/dots-2.png") no-repeat;
    position: absolute;
    width: 122px;
    height: 123px;
    background-size: contain;
    right: 10px;
    bottom: -51px;
    z-index: 1;
  }

  &__form {
    max-width: 1050px;
    width: 100%;
    border: 1px dashed #DBDCDE;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px  0;
    @include w-to($content-lg) {
      padding-top: 30px;
      padding-bottom: 25px;
    }
    @include w-to($content-md) {
      padding-bottom: 38px;
    }
  }

  &__block {
    max-width: 881px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include w-to($content-lg) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    max-width: 398px;
    width: 100%;
    margin-left: 13px;
    @include w-to($content-lg) {
      margin-left: 0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  form {
    max-width: 330px;
    width: 100%;
    margin-right: -12px;
    padding-top: 21px;

    input:first-of-type {
      margin-bottom: 22px;
    }
    input:last-of-type {
      margin-bottom: 24px;
    }

    @include w-to($content-lg) {
      padding-top: 32px;
    }
    @include w-to($content-md) {
      margin-right: 2px;
      padding-top: 18px;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 24px;
    line-height: 34px;
    color: $color-text-dark;
    max-width: 251px;
    width: 100%;
    margin-bottom: 37px;
    @include w-to($content-lg) {
      margin-bottom: 27px;
    }
    @include w-to($content-md) {
      margin-bottom: 22px;
    }
  }

  &__first-text, &__second-text, &__third-text, &__subtitle {
    font-family: $font-family-default;
    font-size: 16px;
    line-height: 143.5%;
    color: $color-text-dark;
  }
  &__subtitle {
    font-family: $font-family-default2;
    margin-bottom: 7px;
    @include w-to($content-md) {
      max-width: 280px;
    }
  }
  &__first-text {
    margin-bottom: 27px;
    @include w-to($content-lg) {
      margin-bottom: 1px;
    }
    @include w-to($content-md) {
      max-width: 280px;
    }
  }
  &__second-text {
    margin-bottom: 26px;
    @include w-to($content-lg) {
      margin-bottom: 21px;
    }
    @include w-to($content-md) {
      max-width: 280px;
      margin-bottom: 8px;
    }
  }
  &__third-text {
    @include w-to($content-md) {
      max-width: 305px;
      line-height: 165%;
    }
  }
  &__line {
    margin-bottom: 25px;
    width: 81px;
    height: 1px;
    background: #000;
    opacity: 0.09;
    @include w-to($content-lg) {
      margin-bottom: 17px;
    }
  }

  &__data {
    width: 100%;
    height: 47px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.052);
    box-sizing: border-box;
    border-radius: 2px;
    padding-left: 33.5px;

    font-family: $font-family-default;
    font-size: 14px;
    line-height: 143.5%;
    color: #C0C0C0;
  }

  &__social {
    p {
      font-family: $font-family-default;
      font-size: 14px;
      line-height: 143.5%;
      color: $color-text-dark;
      margin-bottom: 10px;
      @include w-to($content-lg) {
        text-align: center;
      }
    }
  }

  &__checkboxes {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.052);
    box-sizing: border-box;
    border-radius: 2px;
    height: 33px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__check {
    font-family: $font-family-default;
    font-size: 9.19178px;
    line-height: 143.5%;
    color: $color-text-dark;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.052);
    }
  }

  &__phone {
      &:hover, &.request__active {
      background: $color-gold;
      color: black;
    }
  }
  &__viber {
    &:before {
      color: #7F40BD;
      margin-right: 10px;
    }

    &:hover, .request__active {
      background-color: #7F40BD;
      color: white;
      &:before {
        color: white;
      }
    }
  }
  &__whatsApp {
    &:before {
      color: #2CB742;
      margin-right: 10px;
    }
    &:hover {
      background-color: #2CB742;
      color: white;
      &:before {
        color: white;
      }
    }
  }
  &__telegram {
    &:before {
      color: #41B4E6;
      margin-right: 10px;
    }
    &:hover{
      background-color: #41B4E6;
      color: white;
      &:before {
        color: white;
      }
    }
  }
  &__viber.request__active {
    background-color: #7F40BD;
    color: white;
    &:before {
      color: white;
    }
  }
  &__whatsApp.request__active {
    background-color: #2CB742;
    color: white;
    &:before {
      color: white;
    }
  }
  &__telegram.request__active {
    background-color: #41B4E6;
    color: white;
    &:before {
      color: white;
    }
  }

  &__button {
    margin-bottom: 16px;
    height: 46px;
    font-family: $font-family-default2;
    font-size: 15px;
    line-height: 22px;
    color: $color-text-dark;
  }

  &__conf {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-default;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    color: #969696;
    padding-right: 27px;
    a {
      text-decoration: underline;
    }
    &_checkbox {
      width: 12px;
      height: 12px;
      border: 1px solid #969696;
      box-sizing: border-box;
      border-radius: 1px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-right: 13px;
    }
    .mod-active {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        clip-path: polygon(69% 30%, 79% 42%, 47% 75%, 20% 51%, 31% 39%, 47% 54%);
        background-color: #969696;
      }
    }
  }
}

.popup.popup-book.mod-popup-4.request-business {
  display: flex;
  position: relative;
  @include w-to($content-lg) {
    background: url(../assets/img/popups/com.png) center -72px/1005px no-repeat,url(../assets/img/popups/bg-2.png) 50%/cover no-repeat;
  }
  @include w-to($content-lg) {
    background: url(../assets/img/popups/com.png) center 10px/667px no-repeat,url(../assets/img/popups/bg-2.png) 50%/cover no-repeat;
  }

  .popup__wrap.container {
    padding-top: 125px;
    padding-bottom: 164px;
    @include w-to($content-lg) {
      align-items: center;
      padding-top: 344px;
    }
  }
}