.popup {
  display: none;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/img/popups/bg-1.png") center/cover no-repeat;
  z-index: 500;

  &-lady {
    background: url("../assets/img/popups/anna.png") 72.26% 0px/652px no-repeat,
    url("../assets/img/popups/bg-1.png") center/cover no-repeat;
    background-color: #fff;
    @include w-to($screen-lg) {
      background: url("../assets/img/popups/anna.png") 90.26% 0px/652px no-repeat,
      url("../assets/img/popups/bg-1.png") center/cover no-repeat;
      background-color: #fff;
    }
    @include w-to($content-lg) {
      background:  url("../assets/img/popups/bg-1.png") center/cover no-repeat;
      background-color: #fff;
    }
  }

  &__img {
    width: 435px;
    position: relative;
    @include w-to($content-lg) {
      display: none;
    }
  }

  &__wrap {
    position: relative;
    align-items: flex-end;
    padding-top: 152px;
    @include w-to($content-lg) {
      overflow-y: scroll;
      -ms-overflow-style: none;  // IE 10+
      scrollbar-width: none;  // Firefox
      &::-webkit-scrollbar {
        display: none; // Safari and Chrome
      }
    }
  }

  &__close {
    position: absolute;
    top: 66px;
    right: 53px;
    cursor: pointer;
    z-index: 1000;
    @include w-to($content-lg) {
      top: 18px;
      right: 0;
    }
  }

  .request__title {
    max-width: 355px;
  }

  .request__text {
    margin-left: 0;
    max-width: 100%;
  }

  .request__form {
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
  }

  .popup__request {

    .request__form {
      border: none;
      padding: 0;
      max-width: 972px;
    }

    .specialists__director_name {
      top: -45px;
      right: -94px;
    }

    .request__second-text {
      margin-bottom: 33px;
    }

    .request__subtitle {
      margin-bottom: 33px;
    }

    .request__block {
      display: flex;
      flex-direction: column;
      @include w-to($content-lg) {
        padding-bottom: 20px;
      }

      form {
        max-width: 314px;
        width: 100%;

        .request__data {
          margin-bottom: 22px;
        }
      }
    }
  }
}

.mod-popup-1 {
  .request__form {
    justify-content: flex-start;
  }

  .request__block {
    max-width: 400px;
  }

  .popup__img {
    top: 566px;
    left: 64px;
  }
}

.mod-popup-2 {
  & .popup__wrap {
    padding-top: 183px;
    @include w-to($content-lg) {
      padding-top: 92px;
    }
  }

  .request__block {
    max-width: 540px;
  }

  .request__title {
    max-width: 530px;
    margin-bottom: 30px;
    @include w-to($content-lg) {
      margin-bottom: 22px;
    }
  }

  .popup__img {
    top: 534px;
    left: -80px;
  }

  & .popup__request .request__text .request__second-text {
    max-width: 410px;
    margin-bottom: 43px;
    @include w-to($content-lg) {
      margin-bottom: 28px;
    }
  }

  .request__form {
    @include w-to($content-lg) {
      display: block;
    }
  }
}

.popup.popup-frame {
  .popup__wrap {
    justify-content: center;
    align-items: center;
    padding-top: 115px;

    .request__form {
      justify-content: center;
      align-items: center;
      max-width: 522px;
      background-color: #fff;
      padding: 9px;
      border: none;
      @include w-to($content-lg) {
        background-color: transparent;
      }

      .request__block {
        border: 1px dashed #dbdcde;
        padding-top: 47px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @include w-to($content-lg) {
          border: none;
        }

        .request__text {
          max-width: 360px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 37px;

          .request__title {
            max-width: 100%;
            font-size: 23px;
            margin-bottom: 40px;
          }

          .request__subtitle {
            margin-bottom: 26px;
          }
        }
      }
    }
  }

  .popup__checkboxes {
    display: flex;
    justify-content: space-between;
    max-width: 177px;
    width: 100%;
    margin-bottom: 40px;
    font-size: 14px;
  }

  .popup__checkbox {
    display: flex;

    img {
      width: 15px;
      height: 15px;
      margin-right: 11px;
      cursor: pointer;
    }
  }

  .popup__text {
    font-family: $font-family-default;
    font-size: 14px;
    line-height: 143.5%;
    color: $color-text-dark;
    margin-bottom: 15px;
  }

  form {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .request__data {
      margin-bottom: 21px;
    }

    .request__line {
      margin-bottom: 17px;
    }

    input:not(:first-of-type) {
      margin-bottom: 10px;
    }

    .request__button {
      margin-bottom: 12px;
    }
  }
}

.popup.popup-frame.mod-popup-5 .popup__wrap.container .request__form {
  & .request__block {
    padding-top: 34px;
  }

  & .request__title {
    margin-bottom: 22px;
  }

  & .request__subtitle {
    li {
      margin-bottom: 9px;
      max-width: 320px;
      width: 100%;
    }
  }

  & .request__button {
    margin-bottom: 25px;
  }
}

.popup.popup-book {
  background: url("../assets/img/popups/dots.png") 20rem 106px no-repeat,
  url("../assets/img/popups/light-dots.png") 80% 78% no-repeat,
  url("../assets/img/popups/com.png") 9rem center no-repeat,
  url("../assets/img/popups/bg-2.png") center/cover no-repeat;
  background-color: #fff;
  @include w-to($screen-lg) {
    background: url("../assets/img/popups/dots.png") 20rem 106px no-repeat,
    url("../assets/img/popups/light-dots.png") 80% 78% no-repeat,
    url("../assets/img/popups/com.png") -7rem center no-repeat,
    url("../assets/img/popups/bg-2.png") center/cover no-repeat;
    background-color: #fff;
  }
  @include w-to($content-lg) {
    background: url("../assets/img/popups/bg-2.png") center/cover no-repeat;
    background-color: #fff;
  }

  .popup__wrap {
    padding-top: 192px;
    @include w-to($content-lg) {
      padding-top: 103px;
    }
  }

  & .request__form {
    max-width: 522px;
    width: 100%;
    padding: 9px;
    border: none;
    background-color: #fff;

    .request__block {
      padding: 0;
      border: 1px dashed #dbdcde;

      .request__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 33px;

        .request__title {
          max-width: 415px;
          margin-bottom: 18px;
        }

        &_in {
          max-width: 350px;
          font-family: $font-family-default;
          font-size: 16px;
          line-height: 143.5%;
          color: $color-text-dark;
          margin-bottom: 33px;
        }

        form {
          max-width: 287px;
          margin-bottom: 42px;

          input {
            margin-bottom: 16px;
            height: 54px;
          }
        }
      }
    }
  }
}

#app {
  position: relative;
}

.popup_active {
  display: flex;
}
.popup.popup-frame.mod-popup-3 .popup__wrap .request__form .request__block {
  @include w-to($content-md) {
    padding-top: 150px;
  }
}