<div class="popup popup-lady mod-popup-1">
  <div class="popup__wrap popup__request container">
    <button class="popup__close js-close-popup"><img src="assets/img/popups/close.svg" alt=""></button>
    <div class="request__form">
      <div class="request__block">
        <div class="request__text">
          <div class="request__title"><p>
              Давайте свяжемся и&nbsp;обсудим вашу ситуацию
            </p>
          </div>
          <p class="request__second-text">По&nbsp;итогам разговора&nbsp;Вы получите оценку перспектив, а&nbsp;также
            первоначальный план
            действий, которые помогут добиться результата.</p>
          <div class="request__subtitle">
            <p>Оставьте ваш номер и&nbsp;выберите удобный вариант для связи. Я&nbsp;свяжусь с&nbsp;вами в&nbsp;течение 30-60&nbsp;минут.</p>
          </div>
        </div>
        <form action="#">
          <input v-model="name" type="text" name="name" placeholder="Как Вас зовут?" class="request__data">
          <div class="request__social"><p>Как вам удобно получить ответ?</p>
            <div class="request__checkboxes" @click.prevent="addActive($event)">
              <a href="#" class="request__check request__phone">Телефон</a>
              <a href="#" class="request__check request__viber icon-viber">Viber</a>
              <a href="#" class="request__check request__whatsApp icon-whatsapp">WhatsApp</a>
              <a href="#" class="request__check request__telegram icon-telegram">Telegram</a>
            </div>
          </div>
          <input v-model="phone" v-mask="mask" type="text" name="phone" placeholder="+375 (__) ___-__-__"
                 class="request__data"  @blur="$v.phone.$touch()">
          <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
          <button @click.prevent="sendForm()" type="submit" class="button request__button" :disabled="$v.phone.$invalid">Получить оценку
            перспектив</button>
          <div class="request__conf">
            <div @click="conf = !conf" :class="conf ? 'mod-active' : '' " class="request__conf_checkbox"></div>
            <p>Согласен с&nbsp;<a href="/assets/other/ОООUplex.pdf" target="_blank">Политикой конфиденциальности сайта</a></p></div>
        </form>
      </div>
      <div class="popup__img">
        <div class="specialists__director_status">
          <p>Вам позвонит юрист компании <span>UPLEX</span></p>
        </div>
        <div class="specialists__director_name">
          <p>Беляева Инна</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup-lady mod-popup-2">
  <div class="popup__wrap popup__request container">
    <button class="popup__close js-close-popup"><img src="assets/img/popups/close.svg" alt=""></button>
    <div class="request__form">
      <div class="request__block">
        <div class="request__text">
          <div class="request__title">
            <p>
              Оставьте ваш номер <br> и&nbsp;выберите удобный вариант для связи. Я&nbsp;свяжусь с&nbsp;вами в&nbsp;течение 15&nbsp;минут.
            </p>
          </div>
          <p class="request__second-text">По итогам разговора вы получите первоначальный план действий, которые помогут добиться результата.</p>
        </div>
        <form action="#">
          <input v-model="name" type="text" name="name" placeholder="Как Вас зовут?" class="request__data">
          <div class="request__social"><p>Как вам удобно получить ответ?</p>
            <div class="request__checkboxes" @click.prevent="addActive($event)">
              <a href="#" class="request__check request__phone">Телефон</a>
              <a href="#" class="request__check request__viber icon-viber">Viber</a>
              <a href="#" class="request__check request__whatsApp icon-whatsapp">WhatsApp</a>
              <a href="#" class="request__check request__telegram icon-telegram">Telegram</a>
            </div>
          </div>
          <input v-model="phone" v-mask="mask" type="text" name="phone" placeholder="+375 (__) ___-__-__"
                 class="request__data" @blur="$v.phone.$touch()">
          <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
          <button @click.prevent="sendForm()" type="submit" class="button request__button" :disabled="$v.phone.$invalid">Получить консультацию +
            план действий</button>
          <div class="request__conf">
            <div @click="conf = !conf" :class="conf ? 'mod-active' : '' " class="request__conf_checkbox"></div>
            <p>Согласен с&nbsp;<a href="/assets/other/ОООUplex.pdf" target="_blank">Политикой конфиденциальности сайта</a></p></div>
        </form>
      </div>
      <div class="popup__img">
        <div class="specialists__director_status">
          <p>Вам позвонит юрист компании <span>UPLEX</span></p>
        </div>
        <div class="specialists__director_name">
          <p>Беляева Инна</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup-frame mod-popup-3">
  <div class="popup__wrap container">
    <button class="popup__close js-close-popup"><img src="assets/img/popups/close.svg" alt=""></button>
    <div class="request__form">
      <div class="request__block">
        <div class="request__text">
          <div class="request__title">
            <p>
              Выберите удобный вариант и&nbsp;время консультации
            </p>
          </div>
          <div class="request__subtitle">
            <p>Вам удобнее подъхать в&nbsp;офис или дома?</p>
          </div>
          <div class="popup__checkboxes">
            <div class="popup__checkbox" @click="getWhere('home', $event)">
              <img src="assets/img/popups/uncheck.svg" alt="">
              <p>Дома</p>
            </div>
            <div class="popup__checkbox" @click="getWhere('office', $event)">
              <img src="assets/img/popups/uncheck.svg" alt="">
              <p>В&nbsp;офисе</p>
            </div>
          </div>
          <div class="popup__text">
            <p>Когда вам удобно получить консультацию?</p>
          </div>

          <form action="#">
            <input v-model="date" type="text" name="date" placeholder="12.02.2020" class="request__data">
            <div class="request__line"></div>
            <input v-model="name" type="text" name="name" placeholder="Как Вас зовут?" class="request__data">
            <input v-model="phone" v-mask="mask" type="text" name="phone" placeholder="Номер телефона для связи"
                   class="request__data" @blur="$v.phone.$touch()">
            <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
            <button @click.prevent="sendForm()" type="submit" class="button request__button" :disabled="$v.phone.$invalid">Записаться на
              консультацию</button>
            <div class="request__conf">
              <div class="request__conf_checkbox mod-active"></div>
              <p>Согласен с&nbsp;<a href="/assets/other/ОООUplex.pdf" target="_blank">Политикой конфиденциальности сайта</a></p></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup-frame mod-popup-5">
  <div class="popup__wrap container">
    <button class="popup__close js-close-popup"><img src="assets/img/popups/close.svg" alt=""></button>
    <div class="request__form">
      <div class="request__block">
        <div class="request__text">
          <div class="request__title">
            <p>
              Запишитесь на&nbsp;консультацию в&nbsp;офисе и&nbsp;получите по&nbsp;ее&nbsp;итогам:
            </p>
          </div>
          <ul class="request__subtitle">
            <li>Честный анализ перспектив</li>
            <li>План самостоятельных действий, которые надо сделать в&nbsp;первую очередь</li>
            <li>Расчет стоимости полного юридического сопровождения в&nbsp;вашем случа</li>
          </ul>

          <form action="#">
            <input v-model="name" type="text" name="name" placeholder="Как Вас зовут?" class="request__data">
            <input v-model="date" type="text" name="date" placeholder="Когда вам удобно придти?"
                   class="request__data" @blur="$v.date.$touch()">
            <div class="invalid-text" v-if="!$v.date.required && $v.date.$error"><span>Обязательное поле</span></div>
            <input v-model="phone" v-mask="mask" type="text" name="phone" placeholder="Номер телефона для связи"
                   class="request__data" @blur="$v.phone.$touch()">
            <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
            <button @click.prevent="sendForm()" type="submit" class="button request__button" :disabled="$v.date.$invalid || $v.phone.$invalid">Записаться на&nbsp;
              консультацию</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup popup-book mod-popup-4">
  <div class="popup__wrap container">
    <button class="popup__close js-close-popup"><img src="assets/img/popups/close.svg" alt=""></button>
    <div class="request__form">
      <div class="request__block">
        <div class="request__text">
          <div class="request__title">
            <p>
              Получите на&nbsp;почту индивидуальное предложение от&nbsp;компании Uplex
            </p>
          </div>
          <div class="request__text_in">
            <p>с&nbsp;примерами из&nbsp;практики, отзывами компаний и&nbsp;выгодными условиями для вашего бизнеса</p>
          </div>

          <form action="#">
            <input v-model="email" type="email" name="email" placeholder="Куда прислать предложение?"
                   class="request__data" @blur="$v.email.$touch()">
            <div class="invalid-text" v-if="!$v.email.required && $v.email.$error"><span>Обязательное поле</span></div>
            <input v-model="phone" v-mask="mask" type="text" name="phone" placeholder="Номер телефона для связи"
                   class="request__data" @blur="$v.phone.$touch()">
            <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
            <button @click.prevent="sendForm()" type="submit" class="button request__button"
                    :disabled="$v.phone.$invalid || $v.email.$invalid"
            >Получить предложение</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>