<section class="help help-business">
  <div class="container">

    <div class="help__title">
      <p>Чем мы можем Вам помочь?</p>
    </div>

    <div class="help__tabs tabs">
      <div class="help__content">
        <div class="help__content_box">

          <ul class="help-business__list">
            <li class="help-business__title">Подготовка документов</li>
            <li class="help-business__slim">Лишение</li>
            <li class="help-business__slim">Ограничение</li>
            <li class="help-business__slim">Восстановление</li>
          </ul>
          <ul class="help-business__list">
            <li class="help-business__title">Споры в сфере торговли</li>
            <li class="help-business__slim">Арендные споры</li>
            <li class="help-business__slim">С поставщиками и продавцами</li>
            <li class="help-business__slim">Ликвидация юрлиц</li>
            <li class="help-business__slim">Банкротство юрлиц</li>
          </ul>
          <ul class="help-business__list">
            <li class="help-business__subtitle">Юридическое сопровождение под ключ</li>
            <li class="help-business__subtitle">Оформление интеллектуальной собственности</li>
          </ul>
          <ul class="help-business__list">
            <li class="help-business__bold">Налоговое моделирование</li>
            <li class="help-business__bold">Оформление инвестиций</li>
            <li class="help-business__bold">Вступление в ПВТ</li>
            <li class="help-business__bold">Взыскание долгов</li>
            <li class="help-business__bold">Корпоративные споры</li>
            <li class="help-business__bold">Экономические споры</li>
          </ul>
          
        </div>
      </div>
    </div>

  </div>
</section>