<section class="help">
  <div class="container">
    
    <div class="help__title">
      <p>Чем мы можем Вам помочь?</p>
    </div>
    
    <div class="help__tabs tabs">
      <ul class="tabs__menu" @click="changeTabs($event)" :class="{isActive: isActive}">
        <li data-index="1" class="js-tab tabs__name mod-help-active"><span>Семейные споры</span></li>
        <li data-index="2" class="js-tab tabs__name" :class="{isActive: isActive}"><span>Жилищные споры</span></li>
        <li data-index="3" class="js-tab tabs__name" :class="{isActive: isActive}"><span>Земельные дела</span></li>
        <li data-index="4" class="js-tab tabs__name" :class="{isActive: isActive}"><span>Трудовые споры</span></li>
        <li data-index="5" class="js-tab tabs__name" :class="{isActive: isActive}"><span>Наследственные дела</span></li>
        <li data-index="6" class="js-tab tabs__name" :class="{isActive: isActive}"><span>Споры со страховой</span></li>
        <li data-index="7" class="js-tab tabs__name" :class="{isActive: isActive}"><span>Взыскания долгов</span></li>
      </ul>
      <button class="help__button button" @click="isActive = !isActive">Развернуть список</button>
      <div class="help__content">
        <div class="help__content_box">
          <div v-if="tabIndex === 1" class="tabs-description">

            <div class="tabs-description__title">
              <p>Семейные споры</p>
            </div>

            <div class="tabs-description__statistics">
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/libra.svg" alt="Libra">
                <p><span>49</span> дел провели</p>
              </div>
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/certificate.svg" alt="certificate">
                <p><span>92,4%</span> выиграли</p>
              </div>
            </div>

            <div class="tabs-description__subtitle">
              <p>Раздел имущества</p>
            </div>

            <div class="tabs-description__lists">

              <ul class="tabs-description__list">
                <li>Алименты</li>
                <li>Установление</li>
                <li>Взыскание</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Родительские права</li>
                <li>Лишение</li>
                <li>Ограничение</li>
                <li>Восстановление</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Дети</li>
                <li>Определение места жительства</li>
                <li>Порядка общения</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Брак</li>
                <li>Расторжение</li>
                <li>Признание недействительным</li>
                <li>Брачный договор</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Отцовство</li>
                <li>Установление</li>
                <li>Оспаривание</li>
              </ul>
            </div>

          </div>
          <div v-if="tabIndex === 2" class="tabs-description">

            <div class="tabs-description__title">
              <p>Жилищные споры</p>
            </div>

            <div class="tabs-description__statistics">
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/libra.svg" alt="Libra">
                <p><span>43</span> дела провели</p>
              </div>
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/certificate.svg" alt="certificate">
                <p><span>94%</span> выиграли</p>
              </div>
            </div>

            <div class="tabs-description__lists">

              <ul class="tabs-description__list">
                <li>Квартира</li>
                <li>Раздел</li>
                <li>Вселение</li>
                <li>Выселение</li>
                <li>Выписка</li>
                <li>Порядок пользования</li>
                <li>Право собственности</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Рассторжение договора</li>
                <li>Ренты</li>
                <li>Купли-продажи</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Оформление договора</li>
                <li>Купли-продажи</li>
                <li>Ренты</li>
                <li>Дарения</li>
                <li>Обмена</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Наследование жилья</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Раздел коммунальных платежей</li>
              </ul>
            </div>

          </div>
          <div v-if="tabIndex === 3" class="tabs-description">

            <div class="tabs-description__title">
              <p>Земельные споры</p>
            </div>

            <div class="tabs-description__statistics">
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/libra.svg" alt="Libra">
                <p><span>38</span> дел провели</p>
              </div>
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/certificate.svg" alt="certificate">
                <p><span>88%</span> выиграли</p>
              </div>
            </div>


            <div class="tabs-description__lists">

              <ul class="tabs-description__list">
                <li>Земельный участок</li>
                <li>Раздел</li>
                <li>Определение границ</li>
                <li>Выделение долей</li>
                <li>Право собственности</li>
                <li>Ограничение пользования</li>
                <li>Изъятие</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Оформление договора</li>
                <li>Купли-продажи</li>
                <li>Ренты</li>
                <li>Дарения</li>
                <li>Обмена</li>
              </ul>
            </div>

          </div>
          <div v-if="tabIndex === 4" class="tabs-description">

            <div class="tabs-description__title">
              <p>Трудовые споры</p>
            </div>

            <div class="tabs-description__statistics">
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/libra.svg" alt="Libra">
                <p><span>23</span> дела провели</p>
              </div>
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/certificate.svg" alt="certificate">
                <p><span>92%</span> выиграли</p>
              </div>
            </div>

            <div class="tabs-description__lists">

              <ul class="tabs-description__list">
                <li>Несоблюдение выплат</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Неправомерные дисциплинарные взыскания</li>
                <li>Увольнение</li>
                <li>Сокращение</li>
                <li>Штрафы</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Трудовые споры коллективного характера</li>
              </ul>
            </div>

          </div>
          <div v-if="tabIndex === 5" class="tabs-description">

            <div class="tabs-description__title">
              <p>Наследственные дела</p>
            </div>

            <div class="tabs-description__statistics">
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/libra.svg" alt="Libra">
                <p><span>28</span> дел провели</p>
              </div>
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/certificate.svg" alt="certificate">
                <p><span>93%</span> выиграли</p>
              </div>
            </div>

            <div class="tabs-description__lists">

              <ul class="tabs-description__list">
                <li>Наследство</li>
                <li>Установление</li>
                <li>Оспаривание</li>
              </ul>
              <ul class="tabs-description__list">
                <li>Завещение</li>
                <li>Оформление</li>
                <li>Признание недействительным</li>
              </ul>
            </div>

          </div>
          <div v-if="tabIndex === 6" class="tabs-description">

            <div class="tabs-description__title">
              <p>Споры со страховой</p>
            </div>

            <div class="tabs-description__statistics">
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/libra.svg" alt="Libra">
                <p><span>22</span> дела провели</p>
              </div>
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/certificate.svg" alt="certificate">
                <p><span>87%</span> выиграли</p>
              </div>
            </div>

            <div class="tabs-description__lists">

              <ul class="tabs-description__list">
                <li>Если страховая</li>
                <li>не признает страхового случая</li>
                <li>затягивает с выплатами</li>
                <li>занижает выплаты</li>
                <li>задерживает рассмотрение</li>
              </ul>
            </div>

          </div>
          <div v-if="tabIndex === 7" class="tabs-description">

            <div class="tabs-description__title">
              <p>Взыскания долгов</p>
            </div>

            <div class="tabs-description__statistics">
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/libra.svg" alt="Libra">
                <p><span>18</span> дел провели</p>
              </div>
              <div class="tabs-description__statistics_el">
                <img src="assets/img/icons/certificate.svg" alt="certificate">
                <p><span>91%</span> выиграли</p>
              </div>
            </div>

            <div class="tabs-description__lists">

              <ul class="tabs-description__list">
                <li>Взыскания долгов</li>
                <li>с физических лиц</li>
                <li>с юридических лиц</li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>