.help {
  display: flex;
  justify-content: center;

  background: url("../assets/img/Help/bg.png") no-repeat;
  background-size: cover;
  padding-top: 90px;
  @include w-to($content-lg) {
    padding-top: 69px;
  }
  @include w-to($content-md) {
    padding-top: 48px;
    padding-bottom: 45px;
  }

  .container {
    @include w-from($content-lg) {
      align-items: initial;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 35px;
    color: $color-text-dark2;
    margin-bottom: 54px;
    position: relative;
    padding-left: 12px;
    @include w-to($content-lg) {
      font-size: 24px;
      line-height: 29px;
      padding-left: 0;
      margin-bottom: 16px;
    }
    @include w-to($content-md) {
      max-width: 188px;
      width: 100%;
      font-size: 23px;
      line-height: 34px;
    }
    &:before {
      content: url("../assets/img/Help/dots.png");
      position: absolute;
      top: -19px;
      left: -51px;
    }
  }

  &__content {
    max-width: 815px;
    width: 100%;
    background: $color-text-light;
    box-shadow: 0 4px 97px rgba(0, 0, 0, 0.062);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    @include w-to($content-lg) {
      max-width: none;
      width: auto;
      padding: 10px;
    }

    &_box {
      max-width: 790px;
      width: 100%;
      height: 480px;
      border: thin dashed #E9E9E9;
      padding-top: 22px;
      padding-left: 80px;
      @include w-to($content-lg) {
        padding-left: 51px;
        height: 432px;
      }
      @include w-to($content-md) {
        padding-left: 0;
        height: auto;
      }
    }
  }
  &__button {
    display: none;
    @include w-to($content-md) {
      display: block;
      max-width: 320px;
      width: 100%;
      height: 62px;
      margin-top: 24px;
      margin-bottom: 51px;
    }
  }
}

.tabs {
  display: flex;
  margin-bottom: 152px;
  @include w-to($content-lg) {
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
  }
  @include w-to($content-md) {
    margin-bottom: 9px;
  }

  &__menu {
    max-width: 325px;
    width: 100%;
    padding-top: 27px;
    @include w-to($content-lg) {
      display: grid;
      grid-template-columns: repeat(4, 135.5px);
      grid-template-rows: repeat(2, 73px);
      justify-items: center;
      align-items: center;
      width: 100%;
    }
    @include w-to($content-md) {
      display: grid;
      grid-template-columns: repeat(2, 160px);
      grid-template-rows: repeat(1, 69px);
      justify-items: center;
      align-items: center;
      width: 100%;

      &.isActive {
        grid-template-rows: repeat(4, 69px);
      }
    }
  }

  &__name {
    height: 60px;
    font-family: $font-family-second;
    font-size: 15px;
    line-height: 18px;
    color: $color-text-lightgrey;
    display: flex;
    align-items: center;
    padding-left: 57px;
    position: relative;
    cursor: pointer;
    span {
      pointer-events: none;
    }
    @include w-to($content-lg) {
      font-family: $font-family-second-reg;
      padding: 0;
      width: 100%;
      height: 100%;
      font-size: 10px;
      line-height: 19px;
      box-shadow: -27px 6px 63px rgba(0, 0, 0, 0.042);
      background-color: white;
      justify-items: center;
      align-items: center;
      span {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    @include w-to($content-md) {
      &:nth-child(n+3):nth-child(-n+8) {
        display: none;
      }

      &.isActive {
        &:nth-child(n+3):nth-child(-n+8) {
          display: flex;
        }
      }
    }

    @include w-from($content-lg) {
      &:hover {
        background: $color-text-light;
        color: $color-text-dark;

        &:before {
          content: '';
          height: 100%;
          width: 5px;
          background: $color-gold;
          left: 0;
          position: absolute;
        }
      }
    }
  }

  &-description {
    &__title {
      font-family: $font-family-second;
      font-size: 22px;
      line-height: 26px;
      color: $color-text-dark;
      margin-bottom: 17px;
      @include w-to($content-lg) {
        margin-bottom: 10px;
      }
    }

    &__statistics {
      display: flex;
      max-width: 385px;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 38px;
      @include w-to($content-lg) {
        max-width: 280px;
        margin-bottom: 24px;
      }
      @include w-to($content-md) {
        max-width: 267px;
      }

      &_el {
        display: flex;
        span {
          font-weight: bold;
        }

        img {
          margin-right: 17px;
        }
        &:first-child {
          @include w-to($content-lg) {
            font-size: 14px;
            line-height: 22px;
            img {
              width: 14px;
              height: 14px;
              margin-right: 15px;
            }
          }
          @include w-to($content-md) {
            img {
              margin-right: 9px;
            }
          }
        }
        &:last-child {
          @include w-to($content-lg) {
            font-size: 14px;
            line-height: 22px;
            img {
              width: 18px;
              height: 18px;
              margin-right: 6px;
            }
          }
        }
      }
    }

    &__subtitle {
      font-family: $font-family-second;
      font-size: 15px;
      line-height: 18px;
      color: $color-text-dark;
      margin-bottom: 29px;
      @include w-to($content-lg) {
        max-width: 100px;
        line-height: 22px;
        margin-bottom: 22px;
      }
      @include w-to($content-md) {
        max-width: 160px;
      }
    }

    &__lists {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-row-gap: 36px;
      @include w-to($content-lg) {
        grid-row-gap: 17px;
        grid-template-columns: repeat(3, 157px);
        grid-template-rows: repeat(3, 1fr);
      }
      @include w-to($content-md) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 0.7fr);
        grid-row-gap: 7px;
        grid-column-gap: 15px;
      }
    }

    &__list {
      max-width: 157px;
      width: 100%;
      font-family: $font-family-default;
      font-size: 14px;
      line-height: 18px;
      color: #5B5B5B;

      li:first-child {
        @extend .tabs-description__subtitle;
        margin-bottom: 20px;
        @include w-to($content-lg) {
          margin-bottom: 10px;
        }
      }
      li:not(:first-child) {
        margin-bottom: 12px;
        @include w-to($content-lg) {
          margin-bottom: 6px;
        }
      }
    }
    @include w-to($content-md) {
      padding-left: 21px;
    }
  }
}

.mod-help-active {
  background: $color-text-light;
  color: $color-text-dark;
  @include w-to($content-lg) {
    span {
      border: 2px solid #D7B77C;
    }
  }

  &:before {
    content: '';
    height: 100%;
    width: 5px;
    background: $color-gold;
    left: 0;
    position: absolute;
    @include w-to($content-lg) {
      content: none;
    }
  }
}

.help-business {
  .help__content {
    max-width: 100%;
    &_box {
      padding: 0;
      max-width: 100%;
      height: 265px;
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      padding-top: 70px;
      padding-left: 79px;
      padding-right: 84px;
      flex-wrap: wrap;
      @include w-to(1260px) {
        height: auto;
      }
      @include w-to(650px) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  &__list {
    max-width: 220px;
    width: 100%;
    @include w-to(1260px) {
      margin-bottom: 45px;
    }

  }
  &__title, &__subtitle, &__bold {
    font-family: $font-family-second;
    font-size: 22px;
    line-height: 26px;
    color: $color-text-dark;
  }
  &__title {
    margin-bottom: 31px;
  }
  &__subtitle {
    font-size: 17px;
    &:first-child {
      margin-bottom: 28px;
    }
  }
  &__bold {
    font-size: 15px;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }
  &__slim {
    font-family: $font-family-default;
    font-size: 14px;
    line-height: 16px;
    color: #5B5B5B;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}