.container {
  max-width: $content-lg;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include w-to($content-lg) {
    max-width: $content-md;
  }
  @include w-to($content-md) {
    max-width: $content-sm;
  }
}

.button {
  width: 100%;
  background: $color-gold;
  border-radius: 2px;
  cursor: pointer;

  font-family: $font-family-default2;
  font-weight: 500;
  line-height: 22px;
  color: $color-text-dark;
}

.button__arrow {
  width: 7px;
  height: 7px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: inline-block;
  margin-left: 23px;
  transform: rotate(45deg);
}

.invalid-text {
  color: red;
  font-size: 12px;
  position: relative;
  top: -10px;
}