.price {
  padding-top: 113px;
  display: flex;
  justify-content: center;
  background: url('../assets/img/price/bg.png') no-repeat;
  background-size: cover;
  @include w-to($content-lg) {
    padding-top: 69px;
  }
  @include w-to($content-md) {
    padding-top: 38px;
  }

  .container {
    flex-direction: column;
    align-items: center;
    @include w-to($content-md) {
      max-width: 100%;
      width: 100%;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 43px;
    text-align: center;
    color: $color-text-dark;
    margin-bottom: 25px;
    max-width: 576px;
    width: 100%;
    @include w-to($content-lg) {
      max-width: 440px;
      margin-bottom: 21px;
    }
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 143.5%;
      text-align: center;
      margin-bottom: 36px;
      max-width: 300px;
    }
  }
  &__subtitle {
    font-family: $font-family-default2;
    font-size: 20px;
    line-height: 46px;
    color: $color-text-dark;
    margin-bottom: 19px;
    @include w-to($content-lg) {
      text-align: center;
      line-height: 30px;
      margin-bottom: 23px;
    }
    @include w-to($content-md) {
      max-width: 280px;
      margin-bottom: 18px;
    }
  }
  &__line {
    width: 16px;
    height: 1px;
    background-color: black;
    margin-bottom: 11px;
    @include w-to($content-md) {
      margin-bottom: 19px;
    }
  }
  &__second-title {
    font-family: $font-family-decorBoldItalic;
    font-size: 29px;
    line-height: 46px;
    color: $color-text-dark;
    margin-bottom: 37px;
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 143.5%;
      text-align: center;
      max-width: 185px;
    }
  }

  &__variants {
    max-width: 949px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 118px;
    position: relative;
    z-index: 2;
    @include w-to($content-lg) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 100px;
    }
    @include w-to($content-md) {
      margin-bottom: 0;
    }
    &:before {
      content: url("../assets/img/price/dots.png");
      position: absolute;
      top: -56px;
      left: -101px;
      z-index: -1;
    }
    &:after {
      content: url("../assets/img/price/dots-light.png");
      position: absolute;
      right: -32px;
      bottom: -61px;
      z-index: -1;
      @include w-to(768px) {
        content: none;
      }
    }
  }

  &__wrap {
    max-width: 454px;
    width: 100%;
    padding: 12px 13px;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    &:first-child {
      .price {
        &__first {
          margin-bottom: 19px;
        }
        &__second {
          margin-bottom: 74px;
        }
        &__third {
          margin-bottom: 21px;
        }
      }
      @include w-to($content-lg) {
        margin-bottom: 41px;
      }
      @include w-to($content-md) {
        margin-bottom: 16px;
      }
    }
    &:last-child {
      .price {
        &__first {
          margin-bottom: 28px;
        }
        &__second {
          margin-bottom: 30px;
        }
        &__third {
          margin-bottom: 24px;
        }
        &__input {
          margin-bottom: 14px;
        }
      }
    }
  }

  &__item {
    border: 1px dashed #DBDCDE;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 45px;
  }

  .price__block {
    max-width: 356px;
    width: 100%;
    margin-left: 18px;
    @include w-to($content-lg) {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__first {
    font-family: $font-family-second;
    font-size: 18px;
    line-height: 162%;
    color: $color-text-dark;
    max-width: 322px;
    span {
      font-family: $font-family-default;
      font-size: 16px;
    }
  }
  &__second, &__third {
    font-family: $font-family-default;
    font-size: 16px;
    line-height: 162%;
    color: $color-text-dark;
  }
  &__third {
    font-family: $font-family-default2;
  }
  &__button {
    max-width: 300px;
    width: 100%;
    height: 45px;
  }
  &__input {
    max-width: 300px;
    width: 100%;
    padding-left: 14px;
    font-family: $font-family-default;
    font-size: 14px;
    line-height: 143.5%;
    color: #C0C0C0;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.052);
    box-sizing: border-box;
    border-radius: 2px;
    height: 47px;
  }
}