<div class="price">
  <div class="container">

    <div class="price__title">
      <p>Стоимость услуг индивидуальна и&nbsp;зависит от&nbsp;сложившейся ситуации</p>
    </div>

    <div class="price__subtitle">
      <p>Чтобы уточнить стоимость, нужно детально ознакомиться с&nbsp;ситуацией</p>
    </div>

    <div class="price__line"></div>

    <div class="price__second-title">
      <p>Предлагаем вам 2&nbsp;варианта</p>
    </div>

    <div class="price__variants">
      <div class="price__wrap">
        <div class="price__item">
          <div class="price__block">
            <div class="price__first">
              <p>Запишитесь на&nbsp;бесплатную юридическую консультацию у&nbsp;нас в&nbsp;офисе или на&nbsp;Вашей территории</p>
            </div>
            <div class="price__second">
              <p>В&nbsp;ходе консультации&nbsp;Вы получите честный анализ перспектив, пошаговый план действий и&nbsp;расчет стоимости полного юридического сопровождения.</p>
            </div>
            <div class="price__third">
              <p>Выберите место и&nbsp;удобное время консультации</p>
            </div>
            <button type="button" class="button price__button js-price__button">Выбрать время и&nbsp;место</button>
          </div>
        </div>
      </div>

      <div class="price__wrap">
        <div class="price__item">
          <div class="price__block">
            <div class="price__first">
              <p><span>Если Вы&nbsp;пока не&nbsp;готовы к&nbsp;такому шагу, то</span>&nbsp;можете получить бесплатную консультацию по&nbsp;телефону</p>
            </div>
            <div class="price__second">
              <p>В&nbsp;ходе такой консультации&nbsp;Вы получите первоначальный план действий для увеличени шансов, но&nbsp;мы&nbsp;не&nbsp;сможем на&nbsp;100% оценить ваши перспективы.</p>
            </div>
            <div class="price__third">
              <p>Оставьте ваш телефон&nbsp;&mdash; мы&nbsp;перезвоним Вам и&nbsp;бесплатно проконсультируем</p>
            </div>
            <input v-model="phone" v-mask="mask" type="text" name="phone" placeholder="+375 (__) ___-__-__"
                   class="price__input" @blur="$v.phone.$touch()">
            <div class="invalid-text" v-if="!$v.phone.required && $v.phone.$error"><span>Обязательное поле</span></div>
            <button @click.prevent="sendForm()" type="button" class="button price__button" :disabled="$v.phone.$invalid">Заказать
              консультацию</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>