.specialists {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  background: url("../assets/img/specialists/bg.png") no-repeat;
  background-size: cover;
  @include w-to($content-lg) {
    padding-top: 56px;
  }
  @include w-to($content-md) {
    padding-top: 42px;
  }

  &__block {
    display: flex;
    position: relative;
    margin-bottom: 70px;
    @include w-to($content-lg) {
      flex-direction: column;
      margin-bottom: 121px;
    }
    @include w-to($content-md) {
      margin-bottom: 78px;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 46px;
    color: $color-text-dark;
    max-width: 616px;
    width: 100%;
    margin-bottom: 14px;
    position: relative;
    @include w-to($content-lg) {
      max-width: 450px;
    }
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 36px;
      text-align: center;
    }

    span {
      font-family: $font-family-decorBoldItalic;
      font-size: 34px;
      @include w-to($content-md) {
        font-size: 28px;
      }
    }

    &:before {
      content: url("../assets/img/specialists/dots.png");
      position: absolute;
      top: -39px;
      left: -58px;
    }
  }

  &__subtitle {
    font-family: $font-family-default2;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 46px;
    color: $color-text-dark;
    @include w-to($content-lg) {
      display: none;
    }
  }

  &__slider {
    align-self: flex-end;
    display: flex;
    position: relative;
    top: -41px;
    right: 177px;
    max-width: 460px;
    &_wrap {
      display: flex;
      justify-content: center;
      position: relative;
      @include w-to($content-md) {
        justify-content: center;
      }
    }
    @include w-to($content-lg) {
      top: 24px;
      right: 9px;
    }
    @include w-to($content-md) {
      right: -15px;
      top: 10px;
      max-width: 202px;
    }
  }

  &__item {
    max-width: 190px;
    min-width: 190px;
    width: 100%;
    background-color: white;
    padding: 5px 6px;
    border-radius: 2px;
    color: $color-text-dark;
    margin-right: 32px;
    @include w-to($content-md) {
      &:nth-child(2) {
        display: none;
      }
      margin-right: 0;
    }

    &_frame {
      border: thin dashed #EDEDED;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
    }

    img {
      display: block;
      width: 141px;
      height: 141px;
      border-radius: 50%;
      margin-bottom: 20px;
    }

    &_name {
      font-family: $font-family-second-reg;
      font-size: 13px;
      line-height: 16px;
      text-align: center;
      margin-bottom: 11px;
    }

    &_text {
      font-family: $font-family-default;
      font-size: 13px;
      line-height: 143%;
      text-align: center;
      margin-bottom: 14px;
    }

    &_statistics {
      font-family: $font-family-second;
      font-size: 10px;
      line-height: 144%;
      margin-bottom: 21px;
    }

    &_button {
      max-width: 146px;
      width: 100%;
      height: 40px;
      margin-bottom: 29px;
    }

  }

  &__director {
    &_img {
      width: 350px;
      height: 550px;
      background: url("../assets/img/specialists/director.png") -111px -167px no-repeat;
      @include w-to($content-lg) {
        background: url("../assets/img/specialists/director.png") -108px -128px/440px no-repeat;
        height: 478px;
      }
      @include w-to($content-md) {
        position: absolute;
        width: 340px;
        background: url(../assets/img/specialists/director.png) -100px -147px/440px no-repeat;
        margin-left: 4px;
      }
    }

    &_text {
      display: flex;
      @include w-to($content-md) {
        position: relative;
        justify-content: flex-end;
        margin-bottom: 279px;
      }

      .mod-col {
        padding-top: 53px;
        margin-left: -47px;
        @include w-to($content-lg) {
          max-width: 327px;
          margin-left: -40px;
          padding-top: 24px;
        }
        @include w-to($content-md) {
          padding-top: 52px;
          margin-left: 0;
        }

        p:first-child {
          font-family: $font-family-decorMediumItalic;
          font-size: 16px;
          line-height: 152%;
          color: $color-text-dark;
          max-width: 431px;
          min-width: 431px;
          width: 100%;
          margin-bottom: 93px;
          @include w-to($content-lg) {
            font-size: 14px;
            max-width: 327px;
            min-width: 327px;
            margin-right: -5px;
          }
          @include w-to($content-md) {
            display: none;
          }
        }

        div:last-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 285px;
          width: 100%;
          margin-left: -53px;

          p {
            font-family: $font-family-second;
            font-size: 12px;
            line-height: 144%;
            color: #182C4A;
            width: 100%;
            max-width: 170px;

            span {
              font-family: $font-family-second-reg;
            }
          }

          @include w-to($content-lg) {
            max-width: 270px;
            margin-left: 59px;
            a, p {
              margin: 0;
            }
          }
          @include w-to($content-md) {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;
            max-width: 145px;
            margin-left: 0;
            .mod-play-btn {
              margin-top: 10px;
              margin-left: -44px;
            }
          }
        }
      }
    }

    &_name, &_status {
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;

      p {
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
      }
    }

    &_name {
      max-width: 215px;
      width: 100%;
      height: 48px;
      font-family: $font-family-second-reg;
      font-size: 14px;
      line-height: 17px;
      color: $color-text-dark;
      position: relative;
      top: -35px;
      right: -50px;
      @include w-to($content-lg) {
        right: -9px;
      }
    }

    &_status {
      font-family: $font-family-default;
      font-size: 12px;
      line-height: 14px;
      color: #6F7583;
      max-width: 294px;
      width: 100%;
      height: 50px;
      position: relative;
      top: -41px;
      right: -59px;
      @include w-to($content-lg) {
        right: -21px;
      }

      span {
        font-family: $font-family-default3;
      }
    }
  }

  .arrow {
    &__left {
      @include w-from($content-md) {
        display: none !important;
      }
      @include w-to($content-md) {
        display: flex;
        transform: rotate(180deg);
        margin-left: -70px;
      }
    }
    &__right {
      margin-left: 16px;
      position: absolute;
      top: 60%;
      left: 60%;
      @include w-to($content-lg) {
        top: 40%;
        left: 90%;
      }
      @include w-to($content-md) {
        top: 45%;
        left: 90%;
      }
    }
  }

  &__arrow {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background: $color-gold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: center;
    margin-left: 21px;
    @include w-to($content-lg) {
      margin-top: 50px;
    }
    @include w-to($content-md) {
      margin: 0;
    }

    &_body {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '';
        width: 7px;
        height: 7px;
        border-bottom: 3px solid #777777;
        border-right: 3px solid #777777;
        transform: rotate(-45deg);
        margin-left: -3px;
      }
    }
  }
}

.mod-play-btn {
  margin-right: 34px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background: linear-gradient(90deg, #A07F42 0%, #FBE0AF 100%);
  border-radius: 50%;
  cursor: pointer;
  position: relative;

  &:before {
    display: block;
    z-index: 5;
    width: 20px;
    height: 20px;
    content: '';
    background-color: white;
    clip-path: polygon(40% 4%, 39% 100%, 100% 50%);
  }

  &:after {
    position: absolute;
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background: $color-gold;
    border-radius: 50%;
    cursor: pointer;
    bottom: 3px;
  }
}