<div class="specialists specialists-business">
  <div class="container">

    <div class="specialists__title">
      <p>Вас защищают адвокаты <span>с&nbsp;практическим опытом более 15&nbsp;лет</span></p>
    </div>

    <div class="specialists__subtitle">
      <p>Каждый из&nbsp;них специалист в&nbsp;конкретной области права</p>
    </div>

    <div class="specialists__block">
      <div class="specialists__director">
        <div class="specialists__director_text">
          <div class="specialists__director_img"></div>
          <div class="mod-col">
            <p>Мы&nbsp;как хорошие и&nbsp;плохие полицейские из&nbsp;фильмов. Можем действовать мягко, чтобы
              урегулировать
              конфликт мирным путем. Но&nbsp;если не&nbsp;получается, мы&nbsp;тут&nbsp;же становимся
              акулами, которые не&nbsp;остановятся
              ни&nbsp;перед чем, лишь&nbsp;бы добиться справедливого результата для клиента.</p>
            <div>
              <a href="#" class="mod-play-btn" @click.prevent="video = true"></a>
              <p>Посмотрите видеообращение <span>основателя компании</span></p>
            </div>
          </div>
        </div>
        <div class="specialists__director_name">
          <p>Максим Романов</p>
        </div>
        <div class="specialists__director_status">
          <p>Руководитель юридической компании <span>UPLEX</span></p>
        </div>
      </div>

      <div class="specialists__slider_wrap">
        <div class="specialists__arrow arrow__left js-arrow-left-spec">
          <div class="specialists__arrow_body"></div>
        </div>
        <div class="specialists__slider js-slider-spec">
          <div class="specialists__item">
            <div class="specialists__item_frame">
              <img src="assets/img/specialists/avatar-1b.png" alt="avatar">
              <p class="specialists__item_name">Валерия Антонова</p>
              <p class="specialists__item_text">Специалист <br> по налогам</p>
              <p class="specialists__item_statistics">19&nbsp;дел, 92,5% выиграно</p>
              <button class="specialists__item_button button">Задать вопрос</button>
            </div>
          </div>
          <div class="specialists__item">
            <div class="specialists__item_frame">
              <img src="assets/img/specialists/avatar-2b.png" alt="avatar">
              <p class="specialists__item_name">Евгений Корешок</p>
              <p class="specialists__item_text">Специалист по жилищным и земельным спорам</p>
              <p class="specialists__item_statistics">23&nbsp;дела, 94,5% выиграно</p>
              <button class="specialists__item_button button">Задать вопрос</button>
            </div>
          </div>
          <div class="specialists__item">
            <div class="specialists__item_frame">
              <img src="assets/img/specialists/avatar-3b.png" alt="avatar">
              <p class="specialists__item_name">Ирина Владимировна</p>
              <p class="specialists__item_text">Специалист по спорам в сфере торговли</p>
              <p class="specialists__item_statistics">25&nbsp;дел, 91,5% выиграно</p>
              <button class="specialists__item_button button">Задать вопрос</button>
            </div>
          </div>
          <div class="specialists__item" style="height: 100%;min-height: 369px;justify-content: center;align-items: center;display: flex;">
            <div class="specialists__item_frame" style="height: 100%; justify-content: center;">
              <p class="specialists__item_name">Еще более 17 специалистов</p>
              <button class="specialists__item_button button">Задать вопрос</button>
            </div>
          </div>
        </div>
        <div class="specialists__arrow arrow__right js-arrow-right-spec">
          <div class="specialists__arrow_body"></div>
        </div>
      </div>

    </div>
  </div>
</div>