.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("../assets/img/Hero/bg.png") no-repeat;
  background-color: black;
  background-position: center center;
  @include w-to($content-lg) {
    background: url("../assets/img/Hero/dir.png") 75% 0px/700px no-repeat,
                url("../assets/img/Hero/bg-mobile.png") no-repeat;
    background-color: black;
  }
  @include w-to($content-md) {
    background: url("../assets/img/Hero/dir.png") -10.5em 645px/590px no-repeat,
    url("../assets/img/Hero/bg-mobile.png") no-repeat;
    background-color: black;
  }
  .container {
    align-items: flex-start;
    @include w-to($content-md) {
      align-items: center;
      padding-bottom: 464px;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-style: normal;
    font-size: 29px;
    line-height: 42px;
    color: $color-text-light;
    max-width: 575px;
    width: 100%;
    margin-bottom: 28px;
    position: relative;
    @include w-to($content-lg) {
       font-size: 24px;
       line-height: 35px;
       max-width: 320px;
       margin-bottom: 18px;
     }
    @include w-to($content-md) {
      text-align: center;
      margin-bottom: 33px;
    }
    &:before {
      content: '';
      background: url("../assets/img/Hero/dots.png") no-repeat;
      position: absolute;
      width: 153px;
      height: 171px;
      top: -25px;
      left: -94px;
      background-size: contain;
      @include w-to($content-lg) {
        width: 87px;
        height: 97px;
        top: 4px;
        left: -59px;
      }
    }
  }

  &__subtitle {
    font-family: $font-family-decorMediumItalic;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    @include color-gradient-text;
    max-width: 505px;
    width: 100%;
    margin-bottom: 27px;
    @include w-to($content-lg) {
      font-size: 16px;
      line-height: 19px;
      max-width: 295px;
      margin-bottom: 20px;
    }
    @include w-to($content-md) {
      text-align: center;
      max-width: 290px;
      margin-bottom: 24px;
    }
  }

  &__text {
    font-family: $font-family-default;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: $color-text-lightgrey2;
    margin-bottom: 35px;
    max-width: 335px;
    width: 100%;
    @include w-to($content-md) {
      text-align: center;
    }
  }

  &__button {
    font-size: 15px;
    max-width: 313px;
    height: 62px;
    margin-bottom: 19px;
    box-shadow: $shadow-btn;
    @include w-to($content-lg) {
      margin-bottom: 30px;
    }
  }

  &__statistics {
    max-width: 313px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: $font-family-default2;
    font-size: 14px;
    line-height: 22px;
    color: $color-text-light;
    margin-bottom: 58px;
    @include w-to($content-lg) {
      margin-bottom: 48px;
    }

    &_el {
      display: flex;
      span {
        font-weight: 600;
      }
    }

    img {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
  }

  &__bullits {
    display: flex;
    justify-content: space-between;
    font-family: $font-family-default;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    color: $color-text-light;
    max-width: 1070px;
    width: 100%;
    margin-bottom: 62px;
    @include w-to($content-lg) {
      display: none;
    }

    li {
      display: flex;
      align-items: center;
    }
  }
  &__bullit {
    max-width: 240px;
    width: 100%;
  }

  &__dot {
    width: 12px;
    height: 12px;
    background: $color-gold;
    position: relative;
    margin-right: 38px;
    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      background: inherit;
      opacity: 0.1;
      top: -6px;
      left: -6px;
    }
  }
}

.hero-thanks {
  background: url("../assets/img/Hero/bg-thanks.png") no-repeat;
  background-size: contain;
  background-color: black;
  background-position: 30% center;

  &__block {
    max-width: 535px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    @include w-to($content-md) {
      margin-bottom: 80px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
    @include w-to($content-md) {
      flex-direction: column-reverse;
    }
    .mod-col {
      display: none;
    }
    .specialists__director {
      margin-top: -75px;
      @include w-to($content-md) {
        position: static;
      }
      &_img {
        @include w-to($content-md) {
          position: static;
        }
      }
      &_text {
        @include w-to($content-md) {
          margin-bottom: 0;
        }
      }
    }
  }

  .container {
    @include w-to($content-md) {
      padding-bottom: 135px;
    }
    align-items: flex-end;

    .hero__title {
      max-width: 535px;
      margin-bottom: 50px;
    }
    .hero__link {
      max-width: 235px;
      width: 100%;
      font-family: $font-family-second-reg;
      font-size: 16px;
      line-height: 27px;
      color: #FADFAD;
      display: flex;
      align-items: center;
      margin-bottom: 88px;
      &:before {
        content: '';
        width: 13px;
        height: 13px;
        border-top: 1px solid #FADFAD;
        border-left: 1px solid #FADFAD;
        margin-right: 16px;
        transform: rotate(-45deg);
      }
    }
    .hero__text {
      font-family: $font-family-second-reg;
      font-size: 18px;
      line-height: 28px;
      color: white;
      max-width: 345px;
      width: 100%;
    }
  }
}

.hero-breeding {
  background: url("../assets/img/Hero/bg-thanks.png") no-repeat;
  background-color: black;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include w-to($content-md) {
      padding-bottom: 50px;
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: white;
    margin-bottom: 56px;
    max-width: 650px;
    width: 100%;
  }
  &__subtitle {
    font-family: $font-family-default;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: white;
    max-width: 340px;
    width: 100%;
    margin-bottom: 76px;
  }
  &__wrap {
    background: #1A1B1F;
    box-shadow: 0 4px 117px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding: 11px 13px;
    max-width: 838px;
    width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }
  .breeding-block {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #333333;
    box-sizing: border-box;
    box-shadow: 0 4px 117px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    padding-top: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle {
      font-family: $font-family-default;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: white;
      margin-bottom: 26px;
      max-width: 535px;
      width: 100%;
      @include w-to($content-md) {
        max-width: 280px;
      }
    }
    &__line {
      max-width: 792px;
      width: 100%;
      height: 1px;
      background: #333;
      margin-bottom: 42px;
    }
    &__title {
      max-width: 340px;
      width: 100%;
      font-family: $font-family-second;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      margin-bottom: 60px;
      color: white;
    }
    &__choice {
      display: flex;
      justify-content: space-between;
      max-width: 590px;
      width: 100%;
      margin-bottom: 30px;
      @include w-to($content-md) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    &__left, &__right {
      max-width: 259px;
      width: 100%;
    }
    &__left {
      @include w-to($content-md) {
        margin-bottom: 40px;
      }
    }
    &__btn {
      width: 100%;
      height: 62px;
      font-family: $font-family-default2;
      font-size: 15px;
      line-height: 22px;
      text-align: center;
      color: #000000;
      margin-bottom: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__text {
      font-family: $font-family-default;
      font-size: 13px;
      line-height: 22px;
      color: #FFFFFF;
    }
  }
  .breeding__dontknow {
    font-family: $font-family-default2;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 45px;
    text-decoration: underline;
  }
}

.hero-business {
  &__add {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    margin-bottom: 45px;
    @include w-to($content-md) {
      flex-wrap: wrap;
    }
  }
  &__save {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &:first-child {
      span:first-child {
        @include w-to($content-md) {
          margin-right: 30px;
        }
      }
    }
    span:first-child {
      font-family: $font-family-default3;
      font-size: 38px;
      line-height: 45px;
      color: #D7B77C;
      margin-right: 17px;
    }
    span:last-child {
      font-family: $font-family-default;
      font-size: 16px;
      line-height: 19px;
      color: #D7B77C;
    }
  }
  &__button {
    max-width: 390px;
    @include w-to($content-md) {
      span {
        display: none;
      }
    }
  }
}