<section class="hero hero-thanks">
  <div class="container">
    {%include '../header/header.twig'%}

    <div class="hero-thanks__wrap">
        <div class="specialists__director"><div class="specialists__director_text"><div class="specialists__director_img"></div> <div class="mod-col"><p>Мы&nbsp;как хорошие и&nbsp;плохие полицейские из&nbsp;фильмов. Можем действовать мягко, чтобы урегулировать
                        конфликт мирным путем. Но&nbsp;если не&nbsp;получается, мы&nbsp;тут&nbsp;же становимся акулами, которые не&nbsp;остановятся
                        ни&nbsp;перед чем, лишь&nbsp;бы добиться справедливого результата для клиента.</p> <div>
                <a href="#" class="mod-play-btn" @click.prevent="video = true"></a> <p>Посмотрите видеообращение
                  <span>основателя компании</span></p></div></div></div> <div class="specialists__director_name"><p>Максим Романов</p></div> <div class="specialists__director_status"><p>Руководитель юридической компании <span>UPLEX</span></p></div></div>
        <div class="hero-thanks__block">
            <h1 class="hero__title">Мы получили вашу заявку и скоро свяжемся с Вами, а пока предлагаем ознакомиться с нашими успешными делами</h1>
            <a href="/" class="hero__link">Вернуться на главную</a>
            <p class="hero__text">Имена в истории вымышленные т.к. адвокатская тайна запрещает использовать реальные имена</p>
        </div>
    </div>


  </div>
</section>