<section class="hero hero-breeding">
  <div class="container">
    {% include '../header/header.twig' %}

    <div class="hero-breeding__title"><p>Помогаем решать юридические вопросы по всей Беларуси</p></div>
    <div class="hero-breeding__subtitle">
      <p>Ваш шанс выиграть дело равен 94,8% - именно такова статистика побед компании Uplex за последние 3 года</p>
    </div>
    <div class="hero-breeding__wrap">
      <div class="hero-breeding__block breeding-block">

        <div class="breeding-block__subtitle"><p>Ответьте на вопрос, чтобы мы могли показать вам подходящую информацию.</p></div>
        <div class="breeding-block__line"></div>
        <div class="breeding-block__title"><p>Вам нужны юридические услуги для бизнеса?</p></div>


        <div class="breeding-block__choice">
          <div class="breeding-block__left">
            <a href="/" class="breeding-block__btn button">Нет, для физического лица</a>
            <div class="breeding-block__text">
              <p>Семейные, жилищные, земельные, страховые, трудовые, наследственные споры, взыскание долгов.</p>
            </div>
          </div>

          <div class="breeding-block__right">
            <a href="/business.html" class="breeding-block__btn button">Да, для бизнеса</a>
            <div class="breeding-block__text">
              <p>Сопровождение бизнеса, оформление инвестиций, споры по интеллектуальной собственности, подготовка договоров.</p>
            </div>
          </div>
        </div>

        <a href="#" class="breeding__dontknow">Не знаю, просто помогите мне</a>
      </div>
    </div>

  </div>
</section>