<section class="hero">
  <div class="container">
    {%include '../header/header.twig'%}

    <div class="header__logo logo mod-mob">
      <div class="logo__name">
        <p>UPLEX</p>
      </div>
    </div>

    <h1 class="hero__title">{{ meta.description }}</h1>
    <p class="hero__subtitle">Наш опыт подсказывает&nbsp;&mdash; чем раньше мы&nbsp;начнем готовиться к&nbsp;делу, тем выше шансы на
      победу.</p>

    <p class="hero__text">Получите от&nbsp;нашего юриста анализ вашей ситуации и&nbsp;план первоначальных действий уже
      сегодня!</p>

    <button class="hero__button button">
      Получить план действий
      <span class="button__arrow"></span>
    </button>

    <div class="hero__statistics">
      <div class="hero__statistics_el"><img src="assets/img/icons/libra.svg" alt="Libra">
        <p><span>318</span> дел провели</p>
      </div>
      <div class="hero__statistics_el"><img src="assets/img/icons/certificate.svg" alt="certificate">
        <p><span>94,8%</span> выиграли</p>
      </div>
    </div>

    <ul class="hero__bullits">
      <li>
        <div class="hero__dot"></div>
        <p class="hero__bullit">Выложимся на&nbsp;100% и&nbsp;гарантированно добьемся результата, который вас полностью устроит</p>
      </li>
      <li>
        <div class="hero__dot"></div>
        <p class="hero__bullit">В&nbsp;50% случае улаживаем споры не&nbsp;доводя до&nbsp;суда с&nbsp;помощью досудебного воздействия на&nbsp;оппонента</p>
      </li>
      <li>
        <div class="hero__dot"></div>
        <p class="hero__bullit">Возьмем на&nbsp;себя все хлопоты, избавим Вас от&nbsp;бумажной волокиты и&nbsp;лишних встреч с&nbsp;оппонентом</p>
      </li>
    </ul>

  </div>
</section>