<section class="hero hero-business">
  <div class="container">
    {%include '../header/header.twig'%}

    <div class="header__logo logo mod-mob">
      <div class="logo__name">
        <p>UPLEX</p>
      </div>
    </div>

    <h1 class="hero__title">{{ meta.description }}</h1>

    <div class="hero-business__add">
      <div class="hero-business__save">
        <span>85</span>
        <span>клиентов на постоянном обслуживании</span>
      </div>
      <div class="hero-business__save">
        <span>15+</span>
        <span>тысяч долларорв сэкономили клиенты благодаря юридической поддержке</span>
      </div>
    </div>


    <p class="hero__text">Получите индивидуальное предложение по юридическому сопровождению бизнеса</p>

    <button class="hero__button hero-business__button button">
      Получить индивидуальное предложение
      <span class="button__arrow"></span>
    </button>

    <div class="hero__statistics">
      <div class="hero__statistics_el"><img src="assets/img/icons/libra.svg" alt="Libra">
        <p><span>318</span> дел провели</p>
      </div>
      <div class="hero__statistics_el"><img src="assets/img/icons/certificate.svg" alt="certificate">
        <p><span>94,8%</span> выиграли</p>
      </div>
    </div>

    <ul class="hero__bullits">
      <li>
        <div class="hero__dot"></div>
        <p class="hero__bullit">Выложимся на&nbsp;100% и&nbsp;гарантированно добьемся результата, который вас полностью устроит</p>
      </li>
      <li>
        <div class="hero__dot"></div>
        <p class="hero__bullit">В&nbsp;50% случае улаживаем споры не&nbsp;доводя до&nbsp;суда с&nbsp;помощью досудебного воздействия на&nbsp;оппонента</p>
      </li>
      <li>
        <div class="hero__dot"></div>
        <p class="hero__bullit">Возьмем на&nbsp;себя все хлопоты, избавим Вас от&nbsp;бумажной волокиты и&nbsp;лишних встреч с&nbsp;оппонентом</p>
      </li>
    </ul>

  </div>
</section>