<div class="footer">
  
  <div class="footer__head">
    <div class="container">
      <div class="footer__title">
        <p>Приходите к&nbsp;нам в&nbsp;гости!</p>
      </div>
      <div class="footer__subtitle">
        <p>Найти нас просто&nbsp;&mdash; мы&nbsp;находися в&nbsp;самом центре Минска в&nbsp;15&nbsp;минутах ходьбы от&nbsp;м.
          Пушкинская</p>
      </div>
    </div>
  </div>
  <div class="footer__map" id="map">
    <div class="container">
      <div class="footer__wrap">
        <img src="assets/img/footer/oficce.png" alt="office">
        <div class="footer__block">
          <div class="footer__contacts">
            <div class="footer__contacts_wrap">
              <div class="footer__item">
                <div class="footer__item_title">
                  <img src="assets/img/icons/location.svg" alt="">
                  <p>Адрес</p>
                </div>
                <div class="footer__item_text">
                  <p>
                    г. Минск, ул. Тверская, д.&nbsp;16,
                    cтр.&nbsp;1, офис. Б901
                  </p>
                </div>
              </div>
              <div class="footer__item">
                <div class="footer__item_title">
                  <img src="assets/img/icons/clock.svg" alt="">
                  <p>Режим работы
                  </p>
                </div>
                <div class="footer__item_text">
                  <p>Пн-Пт с&nbsp;10:00 до&nbsp;19:00
                    Сб,&nbsp;Вск&nbsp;&mdash; выходной</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__down">
    <div class="container">
      <div class="footer__row">
        <div class="footer__logo logo">
          <div class="logo__name">
            <p>UPLEX</p>
          </div>
          <div class="logo__text">
            <p>
              Помогаем решать юридические вопросы по&nbsp;всей Беларуси
            </p>
          </div>
        </div>
        <div class="ables">
          <p>Разработано:</p><a href="http://ables.agency/?utm_source=case&utm_medium=site&utm_campaign=uplex"
                                target="_blank">
            <img src="assets\img\icons\ables.png" alt="Ables agency">
          </a>
        </div>
        <div class="footer__info">
          <div class="header__phone">
            <a href="tel:8 (906) 045-21-07">8 (906) 045-21-07</a>
          </div>
          <div class="header__mail">
            <img src="assets/img/icons/mail.svg" alt="mail" class="header__icon">
            <a href="mailto:uplex@gmail.com">uplex@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="footer__info mod-double">
        <div class="header__phone">
          <a href="tel:8 (906) 045-21-07">8 (906) 045-21-07</a>
        </div>
        <div class="header__mail">
          <img src="assets/img/icons/mail.svg" alt="mail" class="header__icon">
          <a href="mailto:uplex@gmail.com">uplex@gmail.com</a>
        </div>
      </div>
      <div class="footer__line"></div>
      <div class="footer__conf">
        <a href="/assets/other/ОООUplex.pdf" target="_blank">Политика конфиденциальности</a>
      </div>
    </div>
  </div>

</div>

<div v-if="video" class="mod-video" @click="closeVideo($event)">
  <iframe width="760" height="415" src="https://www.youtube.com/embed/rj73lCWeZQw" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
          class="mod-video__play"></iframe>
</div>