.footer {
  background: #F7F8FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__head {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 37px;
    @include w-to($content-lg) {
      padding-top: 66px;
    }
    @include w-to($content-md) {
      padding-top: 38px;
    }
  }

  &__head .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: $color-text-dark;
    margin-bottom: 33px;
    align-items: center;
    @include w-to($content-lg) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    @include w-to($content-md) {
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  &__title {
    max-width: 215px;
    width: 100%;
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 43px;

  }
  &__subtitle {
    font-family: $font-family-default2;
    font-size: 20px;
    line-height: 28px;
    margin-top: 9px;
    max-width: 655px;
    width: 100%;
    @include w-to($content-lg) {
      margin-top: 35px;
      max-width: 355px;
    }
    @include w-to($content-md) {
      margin-top: 31px;
    }
  }

  &__map {
    display: flex;
    justify-content: center;
    background: url("../assets/img/footer/map.png") no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    position: relative;
    .ymaps-2-1-74-map {
      width: 100%;
      height: 100% !important;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    @include w-to($content-lg) {
      padding-top: 34px;
      padding-bottom: 374px;
      background: url("../assets/img/footer/map-md.png") no-repeat;
      background-size: cover;
    }
    @include w-to($content-md) {
      padding-bottom: 287px;
      padding-top: 45px;
    }

    .container {
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 2;
      pointer-events: none;
      @include w-to($content-lg) {
        justify-content: center;
        max-width: 328px;
      }
    }
  }

  &__wrap {
    max-width: 328px;
    width: 100%;
    background-color: #fff;
    img:first-of-type {
      height: 167px;
      object-fit: cover;
      object-position: bottom;
      width: 100%;
    }
  }
  &__block {
    padding: 0 8px 8px 8px;
    margin-top: -3px;
  }
  &__contacts {
    padding-top: 31px;
    border-left: 1px dashed #DBDCDE;
    border-right: 1px dashed #DBDCDE;
    border-bottom: 1px dashed #DBDCDE;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    &_wrap {
      max-width: 222px;
      width: 100%;
      margin-bottom: 33px;
    }
  }

  &__item {
    &:first-child {
      margin-bottom: 33px;
      .footer__item_title img {
        width: 10px;
        height: 12px;
        margin-right: 12px;
      }
    }
    &:last-child {
      .footer__item_title img {
        width: 10px;
        height: 10px;
        margin-right: 9px;
      }
    }

    &_title {
      display: flex;
      align-items: center;
      font-family: $font-family-default2;
      font-size: 16px;
      line-height: 46px;
      color: $color-text-dark;
      margin-bottom: 6px;
    }
    &_text {
      padding-left: 20px;
      font-family: $font-family-default;
      font-size: 16px;
      line-height: 19px;
      color: $color-text-dark;
    }

  }

  &__down {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 48px;
    color: white;
    @include w-to($content-lg) {
      padding-top: 52px;
    }
    @include w-to($content-md) {
      padding-top: 39px;
      padding-bottom: 148px;
    }

    .container {
      display: flex;
      align-items: center;
      flex-direction: column;
      .mod-double {
        display: none;
      }

      @include w-to($content-lg) {
        .mod-double {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 320px;
          width: 100%;
          margin-bottom: 143px;
          .header__phone {
            margin-bottom: 0;
          }
          .header__mail {
            display: flex;
          }
        }
      }
      @include w-to($content-md) {
        .mod-double {
          display: none;
        }
      }
    }
  }
  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @include w-to($content-lg) {
      flex-direction: column;
      align-items: center;
      .footer__logo {
        flex-direction: column;
        align-items: center;
        max-width: 250px;
        text-align: center;
      }
      .logo__name {
        margin-bottom: 31px;
      }
      .logo__text {
        display: block;
        margin-bottom: 12px;
      }
    }
    @include w-to($content-md) {
      .footer__logo {
        display: flex;
      }
    }
  }
  &__info {
    .header__phone {
      margin-bottom: 17px;
    }
    @include w-to($content-lg) {
      display: none;
    }
  }
  &__line {
    width: 100%;
    opacity: 0.19;
    border: 1px solid #FFFFFF;
    margin-bottom: 20px;
    @include w-to($content-lg) {
      display: none;
    }
  }
  &__conf {
    align-self: flex-start;
    margin-bottom: 19px;
    @include w-to($content-lg) {
      display: none;
    }
    a {
      font-size: 12px;
    }
  }
}

.footer-thanks {
  -webkit-box-shadow: -1px -200px 89px 52px rgba(0,0,0,0.78);
  -moz-box-shadow: -1px -200px 89px 52px rgba(0,0,0,0.78);
  box-shadow: -1px -200px 89px 52px rgba(0,0,0,0.78);
}

.ables {
  display: flex;
  align-items: center;
  position: relative;
  @include w-to($content-md) {
    margin-top: 35px;
  }

  font-family: $font-family-default;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;

  p {
    margin-right: 10px;
  }
}

.mod-video {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}