<div class="footer footer-thanks">

  <div class="footer__down">
    <div class="container">
      <div class="footer__row">
        <div class="footer__logo logo">
          <div class="logo__name">
            <p>UPLEX</p>
          </div>
          <div class="logo__text">
            <p>
              Помогаем решать юридические вопросы по&nbsp;всей Беларуси
            </p>
          </div>
        </div>
        <div class="ables">
          <p>Разработано:</p><a href="http://ables.agency/?utm_source=case&utm_medium=site&utm_campaign=uplex"
                                target="_blank">
            <img src="assets\img\icons\ables.png" alt="Ables agency">
          </a>
        </div>
        <div class="footer__info">
          <div class="header__phone">
            <a href="tel:8 (906) 045-21-07">8 (906) 045-21-07</a>
          </div>
          <div class="header__mail">
            <img src="assets/img/icons/mail.svg" alt="mail" class="header__icon">
            <a href="mailto:uplex@gmail.com">uplex@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="footer__info mod-double">
        <div class="header__phone">
          <a href="tel:8 (906) 045-21-07">8 (906) 045-21-07</a>
        </div>
        <div class="header__mail">
          <img src="assets/img/icons/mail.svg" alt="mail" class="header__icon">
          <a href="mailto:uplex@gmail.com">uplex@gmail.com</a>
        </div>
      </div>
      <div class="footer__line"></div>
      <div class="footer__conf">
        <a href="/assets/other/ОООUplex.pdf" target="_blank">Политика конфиденциальности</a>
      </div>
    </div>
  </div>

</div>