.experience {
  display: flex;
  justify-content: center;
  background: url("../assets/img/experience/bg.png") no-repeat, url("../assets/img/experience/ellipse.png") no-repeat;
  background-color: black;
  background-size: cover, 508px 508px;
  background-position: center, 102% 25%;
  padding-top: 110px;
  padding-bottom: 142px;
  @include w-to($content-lg) {
    padding-top: 78px;
    padding-bottom: 151px;
  }
  @include w-to($content-md) {
    padding-top: 45px;
    background-position: center, -127% 26%;
    padding-bottom: 149px;
  }
  
  .container {
    position: relative;
    z-index: 2;
    align-items: flex-start;
    @include w-to($content-lg) {
      max-width: 543px;
    }
    @include w-to($content-md) {
      justify-content: center;
      align-items: center;
    }
  }

  &__dots {
    width: 122px;
    height: 133px;
    position: absolute;
    left: -67px;
    bottom: -57px;
    z-index: 1;
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 43px;
    color: $color-text-light;
    max-width: 550px;
    width: 100%;
    margin-bottom: 23px;
    @include w-to($content-lg) {
      margin-bottom: 21px;
    }
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 143.5%;
      text-align: center;
      max-width: 270px;
      margin-bottom: 40px;
    }
  }
  &__subtitle {
    font-family: $font-family-decorBoldItalic;
    font-size: 26px;
    line-height: 44px;
    color: $color-text-light;
    margin-bottom: 68px;
    max-width: 721px;
    width: 100%;
    @include w-to($content-lg) {
      line-height: 31px;
      margin-bottom: 73px;
    }
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 113.5%;
      text-align: center;
      max-width: 255px;
      margin-bottom: 48px;
    }
  }
  &__examples {
    font-family: $font-family-second;
    font-size: 18px;
    line-height: 143.5%;
    color: $color-text-light;
    margin-bottom: 37px;
    @include w-to($content-md) {
      margin-bottom: 58px;
    }
  }

  &__wrap {
    width: 100%;
    background: #14161A;
    box-shadow: 0 4px 84px rgba(0, 0, 0, 0.626);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9px;
    padding-bottom: 13px;
    z-index: 2;
    position: relative;
    max-width: 1140px;
    @include w-to($content-lg) {
      padding-left: 13px;
      padding-right: 13px;
      width: 95%;
    }
    @include w-to($content-md) {
      margin: 0;
      padding: 9px 7px;
      max-width: 345px;
    }
  }
  &__slides {
    max-width: 1116px;
    width: 100%;
    border: 1px dashed #2F3034;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 37px 88px 20px 75px;
  }

  .slides {
    min-height: 634px;
    @include w-to($content-lg) {
      min-height: 1011px;
    }
    @include w-to($content-md) {
      min-height: 1164px;
    }
    &__title {
      font-family: $font-family-second;
      font-size: 23px;
      line-height: 143.5%;
      color: $color-text-slide;
      margin-bottom: 14px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include w-to($content-lg) {
        max-width: 265px;
        width: 100%;
        margin-bottom: 34px;
      }
      @include w-to($content-md) {
        margin-bottom: 30px;
      }
    }
    &__buttons {
      font-family: $font-family-default3;
      font-size: 12px;
      line-height: 143.5%;
      letter-spacing: 0.08em;
      color: $color-btn-slide;
      display: flex;
      align-items: center;
      margin-right: -20px;
      position: absolute;
      top: 47px;
      right: 101px;
      z-index: 3;
      &_wrap {
        display: flex;
      }
      p {
        margin-right: 34px;
        @include w-to($content-md) {
          margin: 0;
          margin-top: 15px;
        }
      }
      @include w-to($content-lg) {
        position: absolute;
        bottom: -105.9%;
        left: 29.8%;
      }
      @include w-to($content-md) {
        display: flex;
        flex-direction: column-reverse;
        bottom: -85px;
        left: 22.5%;
      }
    }
    &__left, &__right {
      width: 33px;
      height: 33px;
      background-color: $color-btn-slide;
      border-radius: 2px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border-right: 3px solid #171A20;
        border-top: 3px solid #171A20;
        position: absolute;
      }
    }
    &__left {
      margin-right: 6px;
      &:before {
        transform: rotate(-135deg);
        margin-left: 2px;
      }
    }
    &__right {
      &:before {
        transform: rotate(45deg);
        margin-left: -1px;
      }
    }
    &__statistics {
      font-family: $font-family-default;
      font-size: 12px;
      line-height: 143.5%;
      color: $color-secondText-slide;
      max-width: 555px;
      width: 100%;
      display: flex;
      margin-bottom: 36px;
      @include w-to($content-lg) {
        line-height: 14px;
        margin-bottom: 41px;
      }
      @include w-to($content-md) {
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
      }
      p {
        padding-right: 26px;
        margin-right: 13px;
        @include w-to($content-lg) {
          padding-right: 0;
          margin-right: 0;
          height: 15px;
        }
        @include w-to($content-md) {
          display: inline-block;
        }
        &:not(:last-child) {
          border-right: 1px solid $color-secondText-slide;
          @include w-to($content-lg) {
            padding-right: 8px;
            margin-right: 7px;
          }
          @include w-to($content-md) {
            border-right: none;
            padding-right: 0;
            margin-right: 0;
          }
        }
      }
    }
    &__text {
      display: flex;
      justify-content: space-between;
      @include w-to($content-lg) {
        flex-direction: column;
      }
    }
    &__situation {
      max-width: 449px;
      width: 100%;
      &_title {
        font-family: $font-family-default2;
        font-size: 16px;
        line-height: 143.5%;
        color: $color-text-light;
        margin-bottom: 5px;
        @include w-to($content-md) {
          margin-bottom: 15px;
        }
      }
      &_text {
        font-family: $font-family-default;
        font-size: 14px;
        line-height: 143.5%;
        color: $color-text-slide;
        margin-bottom: 25px;
        @include w-to($content-md) {
          margin-bottom: 23px;
        }
      }
    }
    &__feedback {
      max-width: 371px;
      width: 100%;
      @include w-to($content-lg) {
        margin-bottom: 0;
      }
      .slides__situation_text {
        margin-bottom: 38px;
      }
      &_line {
        opacity: 0.33;
        border: 1px solid #51596A;
        margin-bottom: 15px;
        @include w-to($content-lg) {
          display: none;
        }
      }
      &_author {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 275px;
        width: 100%;
        @include w-to($content-lg) {
          display: none;
        }
      }
      &_avatar {
        width: 74px;
        height: 74px;
        border-radius: 50%;
        background-color: black;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 50%;
        }
      }
      &_subtitle {
        font-family: $font-family-default;
        font-size: 12px;
        line-height: 143.5%;
        color: $color-text-slide;
      }
      &_name {
        font-family: $font-family-default3;
        font-size: 14px;
        line-height: 143.5%;
        color: $color-text-slide
      }
    }
    &__item {
      margin: 0 35px;
      max-width: 948px;
      width: 100%;
      outline: none;
      min-height: 555px;
      @include w-to($content-lg) {
        max-width: 445px;
        margin: 0 44px;
      }
      @include w-to($content-md) {
        max-width: 335px;
      }
    }
    @include w-to($content-lg) {
      padding: 30px 30px 0 36px;
    }
    @include w-to($content-md) {
      padding: 27px 6px 0 7px;
      &__item {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

  }
}

.experience-thanks {
  background: url("../assets/img/experience/ellipse.png") no-repeat, url("../assets/img/experience/bg-thanks.png") no-repeat;
  background-color: black;
  background-size: 508px 508px, cover;
  background-position: 90% 0, center;
  padding-top: 220px;
  margin-top: -45px;
  -webkit-box-shadow: inset -2px -8px 138px 122px rgba(0,0,0,0.54);
  -moz-box-shadow: inset -2px -8px 138px 122px rgba(0,0,0,0.54);
  box-shadow: inset -2px -8px 138px 122px rgba(0,0,0,0.54);

}

.mod-expirience {
  padding-bottom: 0 !important;
}

.experience-business {
  display: flex;
  justify-content: center;
  padding-top: 124px;
  background: url("../assets/img/experience/bg-business.png") no-repeat;
  background-color: black;
  background-size: cover;

  &__title {
    margin-bottom: 33px;
    max-width: 475px;
    width: 100%;
    text-align: center;
  }
  &__subtitle {
    margin-bottom: 78px;
    max-width: 410px;
    width: 100%;
    text-align: center;
  }
  &__docs {
    display: flex;
    justify-content: space-between;
    max-width: 770px;
    width: 100%;
    height: 341px;
    @include w-to(1140px) {
      max-width: 793px;
      width: auto;
    }
    @include w-to(960px) {
      max-width: 240px;
    }
  }
  &__img {
    max-width: 240px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include w-to(1140px) {
      margin: 20px;
    }
    &:hover {
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: black;
        opacity: 0.8;
        z-index: 1;
      }
      &:after {
        content: url("../assets/img/experience/zoom.png");
        position: absolute;
        z-index: 2;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__zoom {
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    img {
      width: 400px;
      height: 600px;
    }
  }
  &__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 139px;
    z-index: 500;
    max-width: 770px;
    width: 100%;
    position: relative;
  }
  .arrow__left, .arrow__right {
    position: absolute;
    z-index: 100;
    top: 120px;
    background: transparent;
    border: 2px solid #d7b77c;
    .specialists__arrow_body {
      background-color: transparent;
    }
    @include w-from(1140px) {
      display: none;
    }
    @include w-to($content-md) {
      top: 170px;
    }
  }
  .arrow__left {
    transform: rotate(180deg);
    margin-right: 21px;
    left: 8rem;
    @include w-to($content-md) {
      left: -1rem;
    }
  }
  .arrow__right {
    right: 9rem;
    @include w-to($content-md) {
      right: -1rem;
    }
  }
  .mod-overlay {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}