<div class="experience experience-thanks">
  <div class="container">
    <div class="experience__circle"></div>
    <div class="experience__dots">
      <img src="assets/img/experience/dots.png" alt="dots">
    </div>


    <div class="experience__wrap">
      <div class="slides__buttons">
        <p>ДРУГИЕ СЛУЧАИ</p>
        <div class="slides__buttons_wrap">
          <div class="slides__left"></div>
          <div class="slides__right"></div>
        </div>
      </div>
      <div class="experience__slides slides js-slides-exp">
        <div class="experience__block slides__item">

          <div class="slides__title">
            <p>&laquo;Вернули все деньги за&nbsp;машину!&raquo;</p>
          </div>
          <div class="slides__statistics">
            <p>Апрель, 2018</p>
            <p>Продолжительность дела: 1,5&nbsp;мес.</p>
          </div>

          <div class="slides__text">
            <div class="slides__situation">
              <div class="slides__situation_title">
                <p>Ситуация</p>
              </div>
              <div class="slides__situation_text">
                <p>Наш клиент приобрёл автомобиль. Оформил, получил документы. Позже явился судебный исполнитель и&nbsp;изъял
                  автомобиль, т.к.&nbsp;он&nbsp;находился в&nbsp;залоге. Залоговые отношения не&nbsp;регистрируются в&nbsp;документах, которые
                  требуются при купле-продаже. Его можно легко перепродать. Данный автомобиль реализовывался через
                  автохаус. При этом автомобиль числился на&nbsp;балансе автохауса, а&nbsp;продавал его другой человек. Данный
                  автомобиль перепродавался трижды до&nbsp;тех пор, пока не&nbsp;попал к&nbsp;нашему клиенту.</p>
              </div>
              <div class="slides__situation_title">
                <p>Что мы&nbsp;сделали</p>
              </div>
              <div class="slides__situation_text">
                <p>Вызвали двух владельцев автохауса, обсудили ситуацию. В&nbsp;разговоре указали на&nbsp;то, что в&nbsp;данной
                  ситуации можно усмотреть виды уголовного деяния. Также предупредили о&nbsp;том, что наш клиент может
                  обратиться в&nbsp;правоохранительные органы. Владельцам автохауса предложили в&nbsp;добровольном порядке
                  возвратить клиенту стоимость автомобиля.</p>
              </div>
              <div class="slides__situation_title">
                <p>Результат</p>
              </div>
              <div class="slides__situation_text">
                <p>Через три дня наш клиент получил деньги в&nbsp;полном размере.
                </p>
              </div>
            </div>
            <div class="slides__feedback">
              <div class="slides__situation_title">
                <p>Отзыв</p>
              </div>
              <div class="slides__situation_text">
                <p>Решил я&nbsp;купить машину. В&nbsp;автосалоне покупать дорого,
                  а&nbsp;с&nbsp;рук как-то опасался. Купил через автохаус. Состояние и&nbsp;цена устроила. Но&nbsp;покатался недолго. Пришёл судебный исполнитель, помахал бумажкой и&nbsp;забрал мою ласточку. Вроде как в&nbsp;залоге была.&nbsp;я&nbsp;ничего в&nbsp;этих бумажных делах не&nbsp;понимаю, но&nbsp;и&nbsp;кровные свои отдавать всяким жуликам не&nbsp;хотел. Понял, что надо к&nbsp;юристу идти. Знакомые посоветовали Uplex. Честно говоря, не&nbsp;верил, что получится что-то. Сейчас ушлые все,
                  не&nbsp;подкопаешься. Но&nbsp;на&nbsp;моё счастье в&nbsp;Uplex хорошие юристы работают. Очень быстро всё решили. Деньги мне полностью вернули, да&nbsp;ещё и&nbsp;извинились. Сейчас новую машинку присматриваю. Уже не&nbsp;боюсь. Если что, сразу
                  в&nbsp;Uplex!</p>
              </div>

              <div class="slides__feedback_line"></div>

              <div class="slides__feedback_author">
                <div class="slides__feedback_avatar">
                  <img src="assets/img/experience/avatar-1.png" alt="Эдуард Владимирович">
                </div>
                <div class="slides__feedback_text">
                  <div class="slides__feedback_subtitle">
                    <p>Дело вел адвокат</p>
                  </div>
                  <div class="slides__feedback_name">
                    <p>Эдуард Владимирович</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="experience__block slides__item">

          <div class="slides__title">
            <p>&laquo;Если друг оказался вдруг...&raquo;</p>
            <div class="slides__buttons">
              <p>ДРУГИЕ СЛУЧАИ</p>
              <div class="slides__buttons_wrap">
                <div class="slides__left"></div>
                <div class="slides__right"></div>
              </div>
            </div>
          </div>
          <div class="slides__statistics">
            <p>Апрель, 2018</p>
            <p>Продолжительность дела: 1,5&nbsp;мес.</p>
          </div>

          <div class="slides__text">
            <div class="slides__situation">
              <div class="slides__situation_title">
                <p>Ситуация</p>
              </div>
              <div class="slides__situation_text">
                <p>Знакомый наших клиентов взял у&nbsp;них взаймы 10&nbsp;000&nbsp;долларов. Обязался вернуть через полгода. Написал расписку. Пропал. Объявился, снова обещал вернуть.</p>
              </div>
              <div class="slides__situation_title">
                <p>Что мы&nbsp;сделали</p>
              </div>
              <div class="slides__situation_text">
                <p>Предложили клиенту написать заявление в&nbsp;правоохранительные органы. Там провели проверку и&nbsp;выдали необходимые документы для обращения в&nbsp;суд. Суд наложил арест на&nbsp;имущество ответчика.</p>
              </div>
              <div class="slides__situation_title">
                <p>Результат</p>
              </div>
              <div class="slides__situation_text">
                <p>Ответчик быстро вернул всю сумму.
                </p>
              </div>
            </div>
            <div class="slides__feedback">
              <div class="slides__situation_title">
                <p>Отзыв</p>
              </div>
              <div class="slides__situation_text">
                <p>Правду говорят, хочешь потерять друга, дай ему взаймы! Так и&nbsp;с&nbsp;нами произошло. Попросил друг одолжить денег. Мол, присмотрел себе машину, хороший вариант, но&nbsp;брать надо сейчас, а&nbsp;не&nbsp;хватает. Ну&nbsp;как друга не&nbsp;выручить? Всё, конечно, оформили, он&nbsp;расписку дал. Отдать обещал через полгода. Машину купил, приезжал, хвастался, благодарил, что выручили. А&nbsp;потом пропал. На&nbsp;звонки не&nbsp;отвечал, прятался от&nbsp;нас. Потом объявился. Проблемы, говорит, у&nbsp;меня. Не&nbsp;могу сейчас отдать. Дружба дружбой, но&nbsp;так не&nbsp;делается. Мы&nbsp;поняли, что ситуацию нужно как-то решать, деньги самим нужны. обратились в&nbsp;Uplex. Там подробно объяснили, что делать, помогли с&nbsp;оформлением документов в&nbsp;суд. Ну&nbsp;и&nbsp;арестовали у&nbsp;горе-дружбана всё имущество. И, представляете, сразу деньги у&nbsp;него нашлись. Вернул всё. Uplex&nbsp;&mdash; молодцы!</p>
              </div>

              <div class="slides__feedback_line"></div>

              <div class="slides__feedback_author">
                <div class="slides__feedback_avatar">
                  <img src="assets/img/experience/avatar-1.png" alt="Эдуард Владимирович">
                </div>
                <div class="slides__feedback_text">
                  <div class="slides__feedback_subtitle">
                    <p>Дело вел адвокат</p>
                  </div>
                  <div class="slides__feedback_name">
                    <p>Эдуард Владимирович</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="experience__block slides__item">

          <div class="slides__title">
            <p>&laquo;Раздел квартиры при разводе&raquo;</p>
            <div class="slides__buttons">
              <p>ДРУГИЕ СЛУЧАИ</p>
              <div class="slides__buttons_wrap">
                <div class="slides__left"></div>
                <div class="slides__right"></div>
              </div>
            </div>
          </div>
          <div class="slides__statistics">
            <p>Апрель, 2018</p>
            <p>Продолжительность дела: 1,5&nbsp;мес.</p>
          </div>

          <div class="slides__text">
            <div class="slides__situation">
              <div class="slides__situation_title">
                <p>Ситуация</p>
              </div>
              <div class="slides__situation_text">
                <p>Наша клиентка и&nbsp;её&nbsp;муж разводились и&nbsp;делили имущество. Объект спора&nbsp;&mdash; трёхкомнатная квартира, приобретённая в&nbsp;браке. В&nbsp;семье двое детей. Один совершеннолетний, другой&nbsp;&mdash; нет. Муж имел право на&nbsp;половину стоимости квартиры.</p>
              </div>
              <div class="slides__situation_title">
                <p>Что мы&nbsp;сделали</p>
              </div>
              <div class="slides__situation_text">
                <p>Путём переговоров убедили мужа согласиться на&nbsp;меньшую сумму выплат.</p>
              </div>
              <div class="slides__situation_title">
                <p>Результат</p>
              </div>
              <div class="slides__situation_text">
                <p>Договорились, что ему будет выплачена сумма, составляющая меньше ⅓ от&nbsp;стоимости квартиры.</p>
              </div>
            </div>
            <div class="slides__feedback">
              <div class="slides__situation_title">
                <p>Отзыв</p>
              </div>
              <div class="slides__situation_text">
                <p>Разводились с&nbsp;мужем. Очень переживала, как буду с&nbsp;двумя детьми ютиться в&nbsp;однушке. На&nbsp;большее после развода не&nbsp;хватило&nbsp;бы. Муж имел право на&nbsp;половину квартиры и&nbsp;не&nbsp;хотел уступать. Решила обратиться в&nbsp;юридическое агентство. При выборе остановилась на&nbsp;Uplex. отзывы про них слышала хорошие. Результат превзошёл ожидания! Муж пошёл на&nbsp;уступки! Чисто символически выплатила ему. Не&nbsp;пришлось даже разменивать квартиру. Живём с&nbsp;детьми в&nbsp;нашей большой. Uplex, огромное спасибо!</p>
              </div>

              <div class="slides__feedback_line"></div>

              <div class="slides__feedback_author">
                <div class="slides__feedback_avatar">
                  <img src="assets/img/experience/avatar.png" alt="Олег Афонасьев">
                </div>
                <div class="slides__feedback_text">
                  <div class="slides__feedback_subtitle">
                    <p>Дело вел адвокат</p>
                  </div>
                  <div class="slides__feedback_name">
                    <p>Олег Афонасьев</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="experience__block slides__item">

          <div class="slides__title">
            <p>&laquo;Имущество, приобретённое в&nbsp;гражданском браке&raquo;</p>
            <div class="slides__buttons">
              <p>ДРУГИЕ СЛУЧАИ</p>
              <div class="slides__buttons_wrap">
                <div class="slides__left"></div>
                <div class="slides__right"></div>
              </div>
            </div>
          </div>
          <div class="slides__statistics">
            <p>Апрель, 2018</p>
            <p>Продолжительность дела: 1,5&nbsp;мес.</p>
          </div>

          <div class="slides__text">
            <div class="slides__situation">
              <div class="slides__situation_title">
                <p>Ситуация</p>
              </div>
              <div class="slides__situation_text">
                <p>Пара, живущая в&nbsp;гражданском браке, приобрела участок в&nbsp;9&nbsp;км от&nbsp;Минска. На&nbsp;имя мужчины. Построили маленький домик, стали строить большой. Большую часть денег вносила клиентка. Расписались уже после того, как купили участок и&nbsp;начали строить. Возник конфликт. Мужчина потребовал, чтоб жена съехала из&nbsp;дома, т.к.&nbsp;по&nbsp;закону и&nbsp;участок и&nbsp;все строения на&nbsp;нём принадлежат ему.</p>
              </div>
              <div class="slides__situation_title">
                <p>Что мы&nbsp;сделали</p>
              </div>
              <div class="slides__situation_text">
                <p>Привели свидетельские показания и&nbsp;документы, удостоверяющие&nbsp;то, что большая часть средств, потраченных на&nbsp;покупку участка и&nbsp;строительство, была внесена нашей клиенткой.</p>
              </div>
              <div class="slides__situation_title">
                <p>Результат</p>
              </div>
              <div class="slides__situation_text">
                <p>Мужчина отказался от&nbsp;прав на&nbsp;дом и&nbsp;участок за&nbsp;небольшую денежную компенсацию.</p>
              </div>
            </div>
            <div class="slides__feedback">
              <div class="slides__situation_title">
                <p>Отзыв</p>
              </div>
              <div class="slides__situation_text">
                <p>Однажды я&nbsp;по&nbsp;собственной наивности чуть не&nbsp;лишилась имущества. Жили с&nbsp;мужчиной гражданским браком. Решили переехать за&nbsp;город. Купили участок земли, построили домик, приступили к&nbsp;постройке большого. Всё оформили на&nbsp;него. Зарегистрировали брак, всё хорошо было, но&nbsp;потом разлад пошёл. И&nbsp;однажды он&nbsp;мне заявляет, чтоб я&nbsp;вещи свои собирала и&nbsp;съезжала. Я&nbsp;в&nbsp;шоке была, потому что всё на&nbsp;мои деньги покупалось в&nbsp;основном. При этом понимала, что выиграть дело будет трудно. Мы&nbsp;ж не&nbsp;в&nbsp;браке были, когда всё покупали. Решила нанять юриста. Обратилась в&nbsp;Uplex. На&nbsp;многое не&nbsp;надеялась. Хотя&nbsp;бы половину отсудить, и&nbsp;то&nbsp;была&nbsp;бы рада. Но&nbsp;Uplex совершили невозможное. Они показали моему бывшему такие документы, что он&nbsp;согласился за&nbsp;небольшую сумму полностью отказаться от&nbsp;прав на&nbsp;дом и&nbsp;участок. Огромная благодарность Uplex!</p>
              </div>

              <div class="slides__feedback_line"></div>

              <div class="slides__feedback_author">
                <div class="slides__feedback_avatar">
                  <img src="assets/img/experience/avatar.png" alt="Олег Афонасьев">
                </div>
                <div class="slides__feedback_text">
                  <div class="slides__feedback_subtitle">
                    <p>Дело вел адвокат</p>
                  </div>
                  <div class="slides__feedback_name">
                    <p>Антон Понпадур</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="experience__block slides__item">

          <div class="slides__title">
            <p>&laquo;Неожиданное завещание&raquo;</p>
            <div class="slides__buttons">
              <p>ДРУГИЕ СЛУЧАИ</p>
              <div class="slides__buttons_wrap">
                <div class="slides__left"></div>
                <div class="slides__right"></div>
              </div>
            </div>
          </div>
          <div class="slides__statistics">
            <p>Апрель, 2018</p>
            <p>Продолжительность дела: 1,5&nbsp;мес.</p>
          </div>

          <div class="slides__text">
            <div class="slides__situation">
              <div class="slides__situation_title">
                <p>Ситуация</p>
              </div>
              <div class="slides__situation_text">
                <p>Скончался пожилой человек, Изначально было завещание, по&nbsp;которому всё имущество наследовал его сын, но&nbsp;после смерти вскрылось другое завещание, согласно которому наследницей объявлялась нынешняя жена умершего.</p>
              </div>
              <div class="slides__situation_title">
                <p>Что мы&nbsp;сделали</p>
              </div>
              <div class="slides__situation_text">
                <p>Доказали, что новое завещание не&nbsp;имеет силы, т.к. завещатель на&nbsp;момент составления завещания имел психическое заболевание и&nbsp;являлся недееспособным.</p>
              </div>
              <div class="slides__situation_title">
                <p>Результат</p>
              </div>
              <div class="slides__situation_text">
                <p>Судом было признано завещание, составленное ранее, по&nbsp;которому наследником признавался сын умершего.</p>
              </div>
            </div>
            <div class="slides__feedback">
              <div class="slides__situation_title">
                <p>Отзыв</p>
              </div>
              <div class="slides__situation_text">
                <p>Я&nbsp;знал, что отец завещал своё имущество мне. Он&nbsp;не&nbsp;раз об&nbsp;этом говорил, пока был здоров, да&nbsp;и&nbsp;завещание составлялось при мне. Перед смертью он&nbsp;долго болел и&nbsp;перестал осознавать, что происходит. И&nbsp;вот после его смерти вдруг обнаружилось новое завещание, по&nbsp;которому всё получала нынешняя жена отца. Я&nbsp;заподозрил, что тут что-то не&nbsp;так. Конфликтов между нами не&nbsp;было и&nbsp;если&nbsp;бы что-то изменилось, отец рассказал&nbsp;бы об&nbsp;этом мне. Обратился в&nbsp;Uplex. Там подняли все документы, сопоставили даты и&nbsp;оспорили это странное завещание, т.к. оно было составлено в&nbsp;тот период, когда отец уже не&nbsp;понимал, что происходит вокруг. Суд признал наследником меня. Справедливость восторжествовала! Uplex&nbsp;&mdash; вы&nbsp;лучшие!</p>
              </div>

              <div class="slides__feedback_line"></div>

              <div class="slides__feedback_author">
                <div class="slides__feedback_avatar">
                  <img src="assets/img/experience/question.svg" style="width: 30px;margin: 0 auto;" alt="">
                </div>
                <div class="slides__feedback_text">
                  <div class="slides__feedback_subtitle">
                    <p>Дело вел адвокат</p>
                  </div>
                  <div class="slides__feedback_name">
                    <p>Игорь Владимирович</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>