<div class="experience mod-expirience">
  <div class="container">
    <div class="experience__circle"></div>
    <div class="experience__dots">
      <img src="assets/img/experience/dots.png" alt="dots">
    </div>

    <div class="experience__title">
      <p>За&nbsp;8&nbsp;лет пратики мы&nbsp;сталкивались
        с&nbsp;318 различными ситуациями</p>
    </div>
    <div class="experience__subtitle">
      <p>&mdash;&nbsp;нет такого спора, который мы&nbsp;не&nbsp;сможем разрешить</p>
    </div>
    <div class="experience__examples">
      <p>Вот некоторые из&nbsp;них:</p>
    </div>

    <div class="experience__wrap">
      <div class="slides__buttons">
        <p>ДРУГИЕ СЛУЧАИ</p>
        <div class="slides__buttons_wrap">
          <div class="slides__left"></div>
          <div class="slides__right"></div>
        </div>
      </div>
      <div class="experience__slides slides js-slides-exp">
        <div class="experience__block slides__item">

          <div class="slides__title">
            <p>&laquo;Когда партнёр не&nbsp;соблюдает обязательств&raquo;</p>
          </div>
          <div class="slides__statistics">
            <p>Апрель, 2018</p>
            <p>Продолжительность дела: 1,5&nbsp;мес.</p>
          </div>

          <div class="slides__text">
            <div class="slides__situation">
              <div class="slides__situation_title">
                <p>Ситуация</p>
              </div>
              <div class="slides__situation_text">
                <p>Компания &laquo;Руптела&raquo; заключила договор с&nbsp;российской фирмой о&nbsp;сертификации своей продукции. Данная услуга не&nbsp;была оказана компании.</p>
              </div>
              <div class="slides__situation_title">
                <p>Что мы&nbsp;сделали</p>
              </div>
              <div class="slides__situation_text">
                <p>От&nbsp;лица компании &laquo;Руптела&raquo; подали иск о
                  возврате уплаченной предоплаты.
                </p>
              </div>
              <div class="slides__situation_title">
                <p>Результат</p>
              </div>
              <div class="slides__situation_text">
                <p>ЧПроцесс идёт. Ответчик понимает, что шансов выиграть нет и&nbsp;пытается договориться о&nbsp;мировом соглашении, но&nbsp;мы&nbsp;намерены добиться полной выплаты в&nbsp;пользу &laquo;Руптела&raquo;.
                </p>
              </div>
            </div>
            <div class="slides__feedback">
              <div class="slides__situation_title">
                <p>Отзыв</p>
              </div>
              <div class="slides__situation_text">
                <p>С&nbsp;Uplex наша компания работает давно. И&nbsp;по&nbsp;внешнеэкономическим сделкам и&nbsp;по&nbsp;вопросам работы с&nbsp;контролирующими организациями и&nbsp;налоговыми органами. Всегда всё чётко, вовремя и&nbsp;на&nbsp;высоком уровне. Сотрудники Uplex выиграли для компании несколько административных процессов. Сейчас Uplex сопровождает иск &laquo;Руптела&raquo; к&nbsp;одной российской компании по&nbsp;поводу возврата предоплаты за&nbsp;неоказанную услугу по&nbsp;сертификации продукции. Уверены в&nbsp;том, что выиграем, т.к. Uplex знает своё дело!</p>
              </div>

              <div class="slides__feedback_line"></div>

              <div class="slides__feedback_author">
                <div class="slides__feedback_avatar">
                  <img src="assets/img/experience/question.svg" style="width: 30px;margin: 0 auto;" alt="">
                </div>
                <div class="slides__feedback_text">
                  <div class="slides__feedback_subtitle">
                    <p>Дело вел адвокат</p>
                  </div>
                  <div class="slides__feedback_name">
                    <p>Максим Леонидович</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="experience__block slides__item">

          <div class="slides__title">
            <p>&laquo;... и&nbsp;вдруг вы&nbsp;узнаёте, что ваш партнёр&nbsp;&mdash; банкрот!&raquo;</p>
            <div class="slides__buttons">
              <p>ДРУГИЕ СЛУЧАИ</p>
              <div class="slides__buttons_wrap">
                <div class="slides__left"></div>
                <div class="slides__right"></div>
              </div>
            </div>
          </div>
          <div class="slides__statistics">
            <p>Апрель, 2018</p>
            <p>Продолжительность дела: 1,5&nbsp;мес.</p>
          </div>

          <div class="slides__text">
            <div class="slides__situation">
              <div class="slides__situation_title">
                <p>Ситуация</p>
              </div>
              <div class="slides__situation_text">
                <p>Внешнеэкономическая сделка с&nbsp;российским агентом. На&nbsp;момент сделки данное лицо являлось банкротом, о&nbsp;чём не&nbsp;знал клиент. Возникла ситуация с&nbsp;просрочкой обязательств агентом.</p>
              </div>
              <div class="slides__situation_title">
                <p>Что мы&nbsp;сделали</p>
              </div>
              <div class="slides__situation_text">
                <p>Подали иск о&nbsp;расторжении договора по&nbsp;существенным условиям и&nbsp;взыскании ущерба.</p>
              </div>
              <div class="slides__situation_title">
                <p>Результат</p>
              </div>
              <div class="slides__situation_text">
                <p>Выиграли процесс и&nbsp;взыскали ущерб с&nbsp;ответчика, являвшегося банкротом.</p>
              </div>
            </div>
            <div class="slides__feedback">
              <div class="slides__situation_title">
                <p>Отзыв</p>
              </div>
              <div class="slides__situation_text">
                <p>Мы&nbsp;сотрудничаем только с&nbsp;Uplex! Во-первых, из-за исчерпывающего списка услуг. Uplex ведёт полное юридическое сопровождение нашей компании от&nbsp;оформления лизинговых договоров до&nbsp;представительства на&nbsp;судебных процессах. Во-вторых, с&nbsp;Uplex мы&nbsp;уверены в&nbsp;том, что всё будет сделано на&nbsp;высоком профессиональном уровне. Ребята из&nbsp;Uplex работают на&nbsp;совесть!</p>
              </div>

              <div class="slides__feedback_line"></div>

              <div class="slides__feedback_author">
                <div class="slides__feedback_avatar">
                  <img src="assets/img/experience/question.svg" style="width: 30px;margin: 0 auto;" alt="">
                </div>
                <div class="slides__feedback_text">
                  <div class="slides__feedback_subtitle">
                    <p>Дело вел адвокат</p>
                  </div>
                  <div class="slides__feedback_name">
                    <p>Максим Леонидович</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div class="experience-business">
  <div class="container">

    <div class="experience__title experience-business__title">
      <p>8 из 10 клиентов обращаются в UPLEX повторно</p>
    </div>

    <div class="experience__examples experience-business__subtitle">
      <p>Посмотрите отзывы клиентов, чтобы убедиться в надежности компании</p>
    </div>

    <div class="experience-business__slider">
      <div class="specialists__arrow arrow__left js-arrow-left-exp">
        <div class="specialists__arrow_body"></div>
      </div>
      <div class="experience-business__docs js-slider-docs">
        <div class="experience-business__img" @click="showImage($event)"><img src="/assets/img/experience/doc-1.png" alt=""></div>
        <div class="experience-business__img" @click="showImage($event)"><img src="/assets/img/experience/doc-2.png" alt=""></div>
        <div class="experience-business__img" @click="showImage($event)"><img src="/assets/img/experience/doc-3.png" alt=""></div>
      </div>
      <div class="specialists__arrow arrow__right js-arrow-right-exp">
        <div class="specialists__arrow_body"></div>
      </div>
    </div>

    <div v-if="src" @click="closeImage($event)" class="experience-business__zoom">
      <img :src="src" alt="">
    </div>

  </div>
</div>