{% set meta = {
  title: 'Uplex',
  description: 'Поможем решить любой
юридический вопрос в вашу пользу
с минимальными переживаниями',
  keywords: 'Uplex, Юридические вопросы',
} %}
<!doctype html>
<html lang="ru">
{%include "parts/meta.twig"%}
<body>
<div id="app">
    {%include "../blocks/browser-update/browser-update.twig"%}

    {% include "../blocks/hero/hero-breeding.twig" %}

    {% include "../blocks/footer/footer-thanks.twig" %}
    {%include "../blocks/popups/popup.twig"%}
</div>
</body>
</html>