{% set meta = {
  title: 'Uplex',
  description: 'Поможем решить любой
юридический вопрос в вашу пользу
с минимальными переживаниями',
  keywords: 'Uplex, Юридические вопросы',
} %}
<!doctype html>
<html lang="ru">
{%include "parts/meta.twig"%}
<body>
<div id="app">
  {%include "../blocks/browser-update/browser-update.twig"%}
  {%include "../blocks/hero/hero.twig"%}
  {%include "../blocks/help/help.twig"%}
  {%include "../blocks/achieve/achieve.twig"%}
  {%include "../blocks/plan/plan.twig"%}
  {%include "../blocks/specialists/specialists.twig"%}
  {%include "../blocks/benefits/benefits.twig"%}
  {%include "../blocks/request/request.twig"%}
  {%include "../blocks/experience/experience.twig"%}
  {%include "../blocks/price/price.twig"%}
  {%include "../blocks/footer/footer.twig"%}
  {%include "../blocks/popups/popup.twig"%}
</div>
</body>
</html>
