{% set meta = {
  title: 'Спор с поставщиками',
  description: 'Поможем выиграть спор с поставщиком или продавцом и добьемся выгодных для вас условий',
  keywords: 'Uplex, Юридические вопросы',
} %}
<!doctype html>
<html lang="ru">
{%include "parts/meta.twig"%}
<body>
<div id="app">
  {%include "../blocks/browser-update/browser-update.twig"%}
  {%include "../blocks/hero/hero-business.twig"%}
  {%include "../blocks/help/help-business.twig"%}
  {%include "../blocks/achieve/achieve.twig"%}
  {%include "../blocks/plan/plan.twig"%}
  {%include "../blocks/specialists/specialists-business.twig"%}
  {%include "../blocks/benefits/benefits.twig"%}
  {%include "../blocks/request/request-business.twig"%}
  {%include "../blocks/experience/experience-business.twig"%}
  {%include "../blocks/price/price.twig"%}
  {%include "../blocks/footer/footer.twig"%}
  {%include "../blocks/popups/popup.twig"%}
</div>
</body>
</html>
