<div class="achieve">
  <div class="container">

    <div class="achieve__percent">
      <p>94,8%</p>
      <p>выигранных дел, включая&nbsp;те, от&nbsp;которых отказались другие юристы</p>
    </div>

    <div class="achieve__title">
      <p>Как мы&nbsp;этого добиваемся?</p>
    </div>

    <div class="achieve__subtitle">
      <p><span>На&nbsp;вас работает целая команда специлистов,</span> которую мы&nbsp;собираем отдельно для каждого дела</p>
    </div>

    <div class="achieve__text">
      <p>В&nbsp;каждой отрасли права есть своя специфика, которую лучше всех понимает специалист с&nbsp;опытом именно в&nbsp;этой области, поэтому:</p>
    </div>

    <div class="achieve__bullets">
      <div class="achieve__bullet">
        <p>Вашим делом будут заниматься адвокаты, у&nbsp;которых <span>есть победы в&nbsp;аналогичных делах</span></p>
      </div>
      <div class="achieve__bullet">
        <p>В&nbsp;особо сложных делах мы&nbsp;консультируемся с&nbsp;коллегами из&nbsp;Беларуси и&nbsp;зарубежа, чтобы&nbsp;перенять их&nbsp;успешный опыт</p>
      </div>
    </div>

  </div>
</div>