.achieve {
  display: flex;
  justify-content: center;
  padding-top: 87px;
  background: url("../assets/img/achieve/libra.png") no-repeat;
  background-color: $color-text-dark;
  @include w-to($content-lg) {
    padding-top: 79px;
  }
  @include w-to($content-md) {
    padding-top: 28px;
  }

  .container {
    align-items: center;
  }

  &__percent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
    width: 100%;
    margin-bottom: 62px;
    @include w-to($content-md) {
      flex-direction: column;
      margin-bottom: 40px;
    }

    p:first-child {
      font-family: $font-family-decorMedium;
      font-size: 106px;
      line-height: 127px;
      @include color-gradient-text;
      text-shadow: 0 4px 64px rgba(238, 209, 156, 0.776);
      margin-right: 58px;
      position: relative;
      @include w-to($content-lg) {
        margin-right: 50px;
      }
      @include w-to($content-md) {
        margin-right: 0;
        margin-bottom: 4px;
      }

      &:before {
        content: '94,8%';
        position: absolute;
        font-family: initial;
        font-size: 204px;
        line-height: 245px;
        @include color-gradient-text;
        opacity: 0.06;
        top: -70px;
        left: -80px;
        @include w-to($content-lg) {
          top: -57px;
          left: -45px;
        }
        @include w-to($content-md) {
          display: none;
        }
      }
    }
    p:last-child {
      font-family: $font-family-second-reg;
      font-size: 14px;
      line-height: 22px;
      color: $color-text-light;
      @include w-to($content-md) {
        max-width: 210px;
        text-align: center;
      }
    }
  }

  &__title {
    font-family: $font-family-second;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    color: $color-text-light;
    position: relative;
    margin-bottom: 51px;
    margin-left: -52px;
    @include w-to($content-lg) {
      margin-left: -15px;
    }
    @include w-to($content-md) {
      font-size: 23px;
      line-height: 31px;
      text-align: center;
      max-width: 170px;
      margin-left: -7px;
      margin-bottom: 31px;
    }
    &:before {
      content: url("../assets/img/achieve/dots.png");
      position: absolute;
      top: -29px;
      left: -36px;
    }
  }

  &__subtitle {
    font-family: $font-family-default;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: $color-text-light;
    max-width: 490px;
    width: 100%;
    margin-bottom: 44px;
    margin-left: -62px;
    @include w-to($content-lg) {
      margin-left: -23px;
    }
    @include w-to($content-md) {
      margin-left: 10px;
      margin-bottom: 25px;
    }
    span {
      font-family: $font-family-second;
    }
  }

  &__text {
    font-family: $font-family-decorBoldItalic;
    font-size: 16px;
    line-height: 157%;
    text-align: center;
    @include color-gradient-text;
    max-width: 375px;
    width: 100%;
    margin-bottom: 64px;
    margin-left: -55px;
    @include w-to($content-lg) {
      margin-left: -18px;
      margin-bottom: 39px;
    }
    @include w-to($content-md) {
      margin-left: 0;
      margin-bottom: 34px;
      max-width: 300px;
    }
  }

  &__bullets {
    display: flex;
    justify-content: space-between;
    max-width: 731px;
    width: 100%;

    font-family: $font-family-second-reg;
    font-size: 14px;
    line-height: 157%;
    color: $color-text-light;
    margin-bottom: 33px;
    margin-left: -38px;
    @include w-to($content-lg) {
      margin-left: -26px;
      max-width: 323px;
      flex-direction: column;
    }
    @include w-to($content-md) {
      margin-left: -2px;
    }
  }
  &__bullet {
    box-sizing: border-box;
    width: 323px;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 20px;
    position: relative;
    background: #1C1C1C;
    &:first-child {
      @include w-to($content-lg) {
        margin-bottom: 18px;
      }
    }
    span {
      font-family: $font-family-second-bold;
    }
    &:before {
      content: '';
      height: 100%;
      width: 6px;
      background: $color-gold;
      left: 0;
      position: absolute;
    }
  }
}