<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ meta.title }}</title>
    <meta name="description" content="{{ meta.description }}">
    <meta name="keywords" content="{{ meta.keywords }}">
    <meta name="theme-color" content="#000000">

    <link rel="icon" type="image/png" href="assets/favicon/favicon.png" sizes="16x16">

    <link rel="stylesheet" type="text/css" href="styles/main.css">
  
  <script src="https://api-maps.yandex.ru/2.1/?apikey=<40cc080b-cee8-4053-a972-fad07ac2b48a>&lang=ru_RU" type="text/javascript"></script>
  
    <script src="scripts/vendor/jquery-3.4.1.min.js"></script>
    <script src="scripts/vendor/vue.js"></script>
    <script src="scripts/vendor/slick.min.js"></script>
    <script src="scripts/vendor/vuelidate.min.js"></script>
    <script src="scripts/vendor/validators.min.js"></script>
    <script src="scripts/vendor/v-mask.min.js"></script>
    <script src="scripts/bundle.js"></script>
</head>
