<header class="header">
  <div class="header__logo logo">
    <div class="logo__name">
      <p>UPLEX</p>
    </div>
    <div class="logo__text">
      <p>
        Помогаем решать юридические вопросы по&nbsp;всей Беларуси
      </p>
    </div>
  </div>
  
  <div class="header__info">
    <div class="header__info_wrap">
      <div class="header__mail">
        <img src="assets/img/icons/mail.svg" alt="mail" class="header__icon">
        <a href="mailto:uplex@gmail.com">uplex@gmail.com</a>
      </div>
      <div class="header__phone">
        <p>Получить консультацию:</p>
        <a href="tel:8 (906) 045-21-07">8 (906) 045-21-07</a>
      </div>
    </div>

    <button type="button" class="header__button button">
      Задать вопрос
    </button>

  </div>
</header>