.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 36px;
  margin-bottom: 146px;
  @include w-to($content-lg) {
    margin-top: 29px;
    margin-bottom: 52px;
  }
  @include w-to($content-md) {
    margin-top: 16px;
    margin-bottom: 59px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 570px;
    width: 100%;
    &_wrap {
      display: flex;
      justify-content: space-between;
      max-width: 339px;
      width: 100%;
      @include w-to($content-lg) {
        justify-content: flex-end;
        margin-right: 46px;
      }
      @include w-to($content-md) {
        margin-right: 0;
        justify-content: flex-start;
      }
    }
  }

  &__mail {
    font-family: $font-family-default;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: $color-text-light;
    display: flex;
    align-items: center;
    @include w-to($content-lg) {
      display: none;
    }

    img {
      margin-right: 9px;
      width: 14px;
      height: 14px;
    }
  }

  &__phone {
    p:first-child {
      font-family: $font-family-default;
      font-size: 10px;
      line-height: 12px;
      color: $color-text-darkgrey;
      @include w-to($content-md) {
        margin-bottom: 3px;
      }
    }
    a:last-child {
      font-family: $font-family-second;
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      color: $color-text-light;
      @include w-to($content-lg) {
        font-size: 13px;
      }
    }
    @include w-to($content-lg) {
      display: flex;
      flex-direction: column;
    }
  }

}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 375px;
  width: 100%;
  @include w-to($content-lg) {
    max-width: 80px;
    margin-right: 0;
    padding-right: 0;
  }
  @include w-to($content-md) {
    display: none;
  }

  &__name {
    font-family: $font-family-second;
    font-size: 24px;
    line-height: 29px;
    color: $color-text-light;
    text-transform: uppercase;
    padding-right: 22px;
    margin-right: 21px;
    border-right: thin solid #666666;
    @include w-to($content-lg) {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }

  &__text {
    font-family: $font-family-default;
    font-size: 13px;
    line-height: 18px;
    color: $color-text-light;
    display: flex;
    @include w-to($content-lg) {
      display: none;
    }
  }
}

.header__button {
  max-width: 157px;
  height: 40px;
  font-size: 13px;
  box-shadow: $shadow-btn;
}

.header__logo.mod-mob {
  display: none;
}
@include w-to($content-md) {
  .header__logo.mod-mob {
    display: block;
    align-self: center;
    margin-bottom: 41px;
    .logo__name {
      font-size: 22px;
      line-height: 26px;
    }
  }
}